In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from collections import defaultdict
from functools import wraps

In [2]:
%matplotlib inline

In [3]:
import telepot
def send_notify(text):
    with open('../../_access_keys/telegram_token.txt', 'r') as content_file:
        token = content_file.read()
    with open('../../_access_keys/user.txt', 'r') as content_file:
        user = content_file.read()
    try:
        TelegramBot = telepot.Bot(token)
        TelegramBot.sendMessage(int(user), text)
    except:
        pass

In [4]:
TRAIN = True

In [5]:
path = 'C:/data/mlbootcamp/dataset/'
path_train = path + 'train/'
path_test = path + 'test/'
pathfeatures = 'features/'
if TRAIN:
    pathfiles = path_train
    path_subs_bs_consumption = 'subs_bs_consumption_train.csv'
    path_subs_bs_data_session = 'subs_bs_data_session_train.csv'
    path_subs_bs_voice_session = 'subs_bs_voice_session_train.csv'
    path_subs_features = 'subs_features_train.csv'
    path_subs_csi = 'subs_csi_train.csv'
else:
    pathfiles = path_test
    path_subs_bs_consumption = 'subs_bs_consumption_test.csv'
    path_subs_bs_data_session = 'subs_bs_data_session_test.csv'
    path_subs_bs_voice_session = 'subs_bs_voice_session_test.csv'
    path_subs_features = 'subs_features_test.csv'
    path_subs_csi = 'subs_csi_test.csv'

In [7]:
subs_csi = pd.read_csv(pathfiles + path_subs_csi, sep=';', decimal=',')

In [6]:
columns = ['CELL_AVAILABILITY_2G', 'CELL_AVAILABILITY_3G',
       'CELL_AVAILABILITY_4G', 'CSSR_2G', 'CSSR_3G',
       'ERAB_PS_BLOCKING_RATE_LTE', 'ERAB_PS_BLOCKING_RATE_PLMN_LTE',
       'ERAB_PS_DROP_RATE_LTE', 'HSPDSCH_CODE_UTIL_3G',
       'NODEB_CNBAP_LOAD_HARDWARE', 'PART_CQI_QPSK_LTE', 'PART_MCS_QPSK_LTE',
       'PROC_LOAD_3G', 'PSSR_2G', 'PSSR_3G', 'PSSR_LTE',
       'RAB_CS_BLOCKING_RATE_3G', 'RAB_CS_DROP_RATE_3G',
       'RAB_PS_BLOCKING_RATE_3G', 'RAB_PS_DROP_RATE_3G', 'RBU_AVAIL_DL',
       'RBU_AVAIL_DL_LTE', 'RBU_AVAIL_UL', 'RBU_OTHER_DL', 'RBU_OTHER_UL',
       'RBU_OWN_DL', 'RBU_OWN_UL', 'RRC_BLOCKING_RATE_3G',
       'RRC_BLOCKING_RATE_LTE', 'RTWP_3G', 'SHO_FACTOR', 'TBF_DROP_RATE_2G',
       'TCH_DROP_RATE_2G', 'UTIL_BRD_CPU_3G', 'UTIL_CE_DL_3G',
       'UTIL_CE_HW_DL_3G', 'UTIL_CE_UL_3G', 'UTIL_SUBUNITS_3G',
       'UL_VOLUME_LTE', 'DL_VOLUME_LTE', 'TOTAL_DL_VOLUME_3G',
       'TOTAL_UL_VOLUME_3G']

In [24]:
bs_avg_kpi = pd.read_csv(path + 'bs_avg_kpi.csv', sep=';', nrows=1000000, decimal=',')

In [8]:
bs_avg_kpi.head()

,T_DATE,CELL_LAC_ID,CELL_AVAILABILITY_2G,CELL_AVAILABILITY_3G,CELL_AVAILABILITY_4G,CSSR_2G,CSSR_3G,ERAB_PS_BLOCKING_RATE_LTE,ERAB_PS_BLOCKING_RATE_PLMN_LTE,ERAB_PS_DROP_RATE_LTE,...,TCH_DROP_RATE_2G,UTIL_BRD_CPU_3G,UTIL_CE_DL_3G,UTIL_CE_HW_DL_3G,UTIL_CE_UL_3G,UTIL_SUBUNITS_3G,UL_VOLUME_LTE,DL_VOLUME_LTE,TOTAL_DL_VOLUME_3G,TOTAL_UL_VOLUME_3G
0,1.01,275453,1,1,",02774",",93242",NaN,NaN,NaN,NaN,...,",000377",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.01,75331,1,1,",02774",",920801",NaN,NaN,NaN,NaN,...,",00062",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.01,372021,1,1,",02774",",929026",NaN,NaN,NaN,NaN,...,",000354",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.01,383252,1,1,",02774",",923729",NaN,NaN,NaN,NaN,...,",000587",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.01,80247,1,1,",02774",",924741",NaN,NaN,NaN,NaN,...,",000325",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
bs_avg_kpi.describe()

,CELL_LAC_ID,CELL_AVAILABILITY_2G,CELL_AVAILABILITY_3G,CELL_AVAILABILITY_4G,CSSR_2G,CSSR_3G,ERAB_PS_BLOCKING_RATE_LTE,ERAB_PS_BLOCKING_RATE_PLMN_LTE,ERAB_PS_DROP_RATE_LTE,HSPDSCH_CODE_UTIL_3G,...,TCH_DROP_RATE_2G,UTIL_BRD_CPU_3G,UTIL_CE_DL_3G,UTIL_CE_HW_DL_3G,UTIL_CE_UL_3G,UTIL_SUBUNITS_3G,UL_VOLUME_LTE,DL_VOLUME_LTE,TOTAL_DL_VOLUME_3G,TOTAL_UL_VOLUME_3G
count,1000000.000000,553271.000000,644686.000000,243956.000000,150164.000000,482331.000000,214634.000000,108995.000000,117303.000000,0.0,...,236886.000000,0.0,245736.000000,0.0,0.0,0.0,227559.000000,227555.000000,493925.000000,482657.000000
mean,243475.795341,0.999203,0.999539,0.401048,0.928828,0.942801,0.003613,0.002415,0.015316,NaN,...,0.003145,NaN,0.013863,NaN,NaN,NaN,0.006521,0.044065,0.036261,0.010733
std,143765.150451,0.023851,0.009438,0.472866,0.010778,0.010899,0.020552,0.017054,0.014724,NaN,...,0.005780,NaN,0.013816,NaN,NaN,NaN,0.011120,0.043065,0.031208,0.010876
min,1.000000,0.000000,0.003890,0.000000,0.251601,0.000426,0.000049,0.000049,0.000000,NaN,...,0.000012,NaN,0.000002,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
25%,119899.750000,1.000000,1.000000,0.027740,0.928827,0.943433,0.000580,0.000513,0.005846,NaN,...,0.000537,NaN,0.005287,NaN,NaN,NaN,0.001528,0.013941,0.014275,0.004547
50%,240214.000000,1.000000,1.000000,0.027740,0.931347,0.945454,0.001044,0.000854,0.011105,NaN,...,0.001320,NaN,0.009975,NaN,NaN,NaN,0.003575,0.030881,0.028059,0.008308
75%,360072.000000,1.000000,1.000000,1.000000,0.932482,0.945454,0.002294,0.001623,0.020051,NaN,...,0.003305,NaN,0.017776,NaN,NaN,NaN,0.007581,0.059952,0.048980,0.013883
max,510471.000000,1.000000,1.000000,1.000000,0.997508,0.945495,1.000000,1.000000,0.337191,NaN,...,0.228243,NaN,0.325691,NaN,NaN,NaN,0.731129,0.725428,0.707561,0.571663

In [11]:
bs_avg_kpi.columns

Index(['T_DATE', 'CELL_LAC_ID', 'CELL_AVAILABILITY_2G', 'CELL_AVAILABILITY_3G',
       'CELL_AVAILABILITY_4G', 'CSSR_2G', 'CSSR_3G',
       'ERAB_PS_BLOCKING_RATE_LTE', 'ERAB_PS_BLOCKING_RATE_PLMN_LTE',
       'ERAB_PS_DROP_RATE_LTE', 'HSPDSCH_CODE_UTIL_3G',
       'NODEB_CNBAP_LOAD_HARDWARE', 'PART_CQI_QPSK_LTE', 'PART_MCS_QPSK_LTE',
       'PROC_LOAD_3G', 'PSSR_2G', 'PSSR_3G', 'PSSR_LTE',
       'RAB_CS_BLOCKING_RATE_3G', 'RAB_CS_DROP_RATE_3G',
       'RAB_PS_BLOCKING_RATE_3G', 'RAB_PS_DROP_RATE_3G', 'RBU_AVAIL_DL',
       'RBU_AVAIL_DL_LTE', 'RBU_AVAIL_UL', 'RBU_OTHER_DL', 'RBU_OTHER_UL',
       'RBU_OWN_DL', 'RBU_OWN_UL', 'RRC_BLOCKING_RATE_3G',
       'RRC_BLOCKING_RATE_LTE', 'RTWP_3G', 'SHO_FACTOR', 'TBF_DROP_RATE_2G',
       'TCH_DROP_RATE_2G', 'UTIL_BRD_CPU_3G', 'UTIL_CE_DL_3G',
       'UTIL_CE_HW_DL_3G', 'UTIL_CE_UL_3G', 'UTIL_SUBUNITS_3G',
       'UL_VOLUME_LTE', 'DL_VOLUME_LTE', 'TOTAL_DL_VOLUME_3G',
       'TOTAL_UL_VOLUME_3G'],
      dtype='object')

In [34]:
bs_avg_kpi['CELL_AVAILABILITY_2G'].unique()

array([1.      ,      nan, 0.90935 , ..., 0.874233, 0.545238, 0.546923])

In [121]:
from collections import Counter
counter = Counter()
for i in bs_avg_kpi.values:
    _2g = i[2]
    _3g = i[3]
    _4g = i[4]
    if np.isnan(_2g) and np.isnan(_3g) and np.isnan(_4g):
        counter.update(['unknown'])
        continue
    if not np.isnan(_2g) and np.isnan(_3g) and np.isnan(_4g):
        counter.update(['2g'])
        continue
    if np.isnan(_2g) and not np.isnan(_3g) and np.isnan(_4g):
        counter.update(['3g'])
        continue
    if np.isnan(_2g) and np.isnan(_3g) and not np.isnan(_4g):
        counter.update(['4g'])
        continue
    if not np.isnan(_2g) and not np.isnan(_3g) and np.isnan(_4g):
        counter.update(['2g+3g'])
        continue        
    if np.isnan(_2g) and not np.isnan(_3g) and not np.isnan(_4g):
        counter.update(['3g+4g'])
        continue        
    #print(_2g, _3g, _4g)

In [130]:
from collections import Counter
counter = Counter()
for i in bs_avg_kpi.values:
    _2g = i[2]
    _3g = i[3]
    _4g = i[4]
    if np.isnan(_2g) and np.isnan(_3g) and np.isnan(_4g):
        counter.update(['unknown'])
        continue
        
    if not np.isnan(_2g) and np.isnan(_3g) and np.isnan(_4g):
        if _2g == 1:
            counter.update(['not 2g'])
        else:
            counter.update(['unknown-2g'])
        continue
        
    if np.isnan(_2g) and not np.isnan(_3g) and np.isnan(_4g):
        if _3g == 1:
            counter.update(['not 3g'])
        else:
            counter.update(['unknown-3g'])
        continue       
        
    if np.isnan(_2g) and np.isnan(_3g) and not np.isnan(_4g):
        if _4g == 1:
            counter.update(['not 4g'])
        else:
            counter.update(['unknown-4g'])
        continue
        
        
    if not np.isnan(_2g) and not np.isnan(_3g) and np.isnan(_4g):
        if _2g == 1 and _3g != 1:
            counter.update(['3g'])
        if _2g != 1 and _3g == 1:
            counter.update(['2g'])
        continue
        
    if np.isnan(_2g) and not np.isnan(_3g) and not np.isnan(_4g):
        counter.update(['3g+4g'])
        continue        
    #print(_2g, _3g, _4g)

In [139]:
bs_avg_kpi[columns_4g].iloc[[4]]

,CELL_AVAILABILITY_4G,DL_VOLUME_LTE,ERAB_PS_BLOCKING_RATE_LTE,ERAB_PS_BLOCKING_RATE_PLMN_LTE,ERAB_PS_DROP_RATE_LTE,PART_CQI_QPSK_LTE,PART_MCS_QPSK_LTE,PSSR_LTE,RBU_AVAIL_DL,UL_VOLUME_LTE,RBU_AVAIL_DL_LTE,RBU_AVAIL_UL,RBU_OTHER_DL,RBU_OTHER_UL,RBU_OWN_DL,RBU_OWN_UL,RRC_BLOCKING_RATE_LTE
4,0.02774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [137]:
bs_avg_kpi.head()

,T_DATE,CELL_LAC_ID,CELL_AVAILABILITY_2G,CELL_AVAILABILITY_3G,CELL_AVAILABILITY_4G,CSSR_2G,CSSR_3G,ERAB_PS_BLOCKING_RATE_LTE,ERAB_PS_BLOCKING_RATE_PLMN_LTE,ERAB_PS_DROP_RATE_LTE,...,TCH_DROP_RATE_2G,UTIL_BRD_CPU_3G,UTIL_CE_DL_3G,UTIL_CE_HW_DL_3G,UTIL_CE_UL_3G,UTIL_SUBUNITS_3G,UL_VOLUME_LTE,DL_VOLUME_LTE,TOTAL_DL_VOLUME_3G,TOTAL_UL_VOLUME_3G
0,01.01,275453,1.0,1.0,0.02774,0.932420,NaN,NaN,NaN,NaN,...,0.000377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01.01,75331,1.0,1.0,0.02774,0.920801,NaN,NaN,NaN,NaN,...,0.000620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01.01,372021,1.0,1.0,0.02774,0.929026,NaN,NaN,NaN,NaN,...,0.000354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01.01,383252,1.0,1.0,0.02774,0.923729,NaN,NaN,NaN,NaN,...,0.000587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01.01,80247,1.0,1.0,0.02774,0.924741,NaN,NaN,NaN,NaN,...,0.000325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [145]:
from collections import Counter
counter = Counter()
for i in enumerate(bs_avg_kpi.values):
    j = i[0]
    if j == 10:
        break
    _2g = i[1][2]
    _3g = i[1][3]
    _4g = i[1][4]
    if _2g == 1 and _3g == 1:
        counter.update(['4g'])
        print("4G", bs_avg_kpi[columns_4g].iloc[[j]].values)
        continue
    if _3g == 1 and _4g == 1:
        counter.update(['2g'])
        print("2G", bs_avg_kpi[columns_2g].iloc[[j]].values)
        continue
    if _2g == 1 and _4g == 1:
        counter.update(['3g'])
        print("3G", bs_avg_kpi[columns_3g].iloc[[j]].values)
        continue
    counter.update(['unknown'])    
    print(_2g, _3g, _4g)

4G [[0.02774     nan     nan     nan     nan     nan     nan     nan     nan
      nan     nan     nan     nan     nan     nan     nan     nan]]
4G [[0.02774     nan     nan     nan     nan     nan     nan     nan     nan
      nan     nan     nan     nan     nan     nan     nan     nan]]
4G [[0.02774     nan     nan     nan     nan     nan     nan     nan     nan
      nan     nan     nan     nan     nan     nan     nan     nan]]
4G [[0.02774     nan     nan     nan     nan     nan     nan     nan     nan
      nan     nan     nan     nan     nan     nan     nan     nan]]
4G [[0.02774     nan     nan     nan     nan     nan     nan     nan     nan
      nan     nan     nan     nan     nan     nan     nan     nan]]
4G [[0.02774     nan     nan     nan     nan     nan     nan     nan     nan
      nan     nan     nan     nan     nan     nan     nan     nan]]
4G [[0.02774     nan     nan     nan     nan     nan     nan     nan     nan
      nan     nan     nan     nan     nan     nan     nan     nan]]
4G [[0.02774     nan     nan     nan     nan     nan     nan     nan     nan
      nan     nan     nan     nan     nan     nan     nan     nan]]
4G [[0.02774     nan     nan     nan     nan     nan     nan     nan     nan
      nan     nan     nan     nan     nan     nan     nan     nan]]
4G [[0.02774     nan     nan     nan     nan     nan     nan     nan     nan
      nan     nan     nan     nan     nan     nan     nan     nan]]

In [158]:
bs_avg_kpi[columns_2g]

,CELL_AVAILABILITY_2G,CSSR_2G,PSSR_2G,TBF_DROP_RATE_2G,TCH_DROP_RATE_2G
0,1.000000,0.932420,NaN,0.000055,0.000377
1,1.000000,0.920801,NaN,0.000059,0.000620
2,1.000000,0.929026,NaN,0.000038,0.000354
3,1.000000,0.923729,NaN,0.000077,0.000587
4,1.000000,0.924741,NaN,0.000051,0.000325
5,1.000000,0.931313,NaN,0.000053,NaN
6,1.000000,0.927652,NaN,0.000071,0.000885
7,1.000000,0.931927,NaN,0.000059,NaN
8,1.000000,0.926310,NaN,0.000035,0.000441
9,1.000000,0.926114,NaN,0.000073,0.000670
10,1.000000,0.911139,NaN,0.000089,0.000841
11,1.000000,0.931564,NaN,0.000119,NaN
12,1.000000,0.929021,NaN,0.000086,0.000129
13,1.000000,0.930251,NaN,0.000053,0.000152
14,1.000000,0.930931,NaN,0.000050,0.000262
15,1.000000,0.931417,NaN,0.000032,0.000168
16,1.000000,0.925325,NaN,0.000049,0.000558
17,1.000000,0.926688,NaN,0.000055,0.000503
18,1.000000,0.929826,NaN,0.000063,NaN
19,1.000000,0.926510,NaN,0.000074,0.000547
20,1.000000,0.920943,NaN,0.000075,0.000196
21,1.000000,0.929228,NaN,0.000054,0.000226
22,1.000000,0.929015,NaN,0.000067,0.000127
23,1.000000,0.929519,NaN,0.000045,0.000124
24,1.000000,0.918587,NaN,0.000065,0.003836
25,1.000000,0.925696,NaN,0.000042,0.000544
26,1.000000,NaN,NaN,NaN,NaN
27,1.000000,NaN,NaN,NaN,NaN
28,1.000000,NaN,NaN,NaN,NaN
29,1.000000,NaN,NaN,NaN,NaN
...,...,...,...,...,...
999970,NaN,NaN,NaN,NaN,NaN
999971,NaN,NaN,NaN,NaN,NaN
999972,0.996504,NaN,0.999805,0.000010,0.004903
999973,1.000000,NaN,0.999680,0.000004,0.007729
999974,1.000000,NaN,0.999936,0.000012,0.005763
999975,NaN,NaN,NaN,NaN,NaN
999976,1.000000,NaN,0.997089,0.000030,0.001916
999977,NaN,NaN,NaN,NaN,NaN
999978,1.000000,NaN,1.000000,0.000027,0.006292
999979,0.545238,NaN,1.000000,0.000009,0.002832
999980,1.000000,NaN,1.000000,0.000017,0.007586
999981,1.000000,NaN,1.000000,0.000003,0.003520
999982,NaN,NaN,NaN,NaN,NaN
999983,1.000000,NaN,1.000000,0.000001,0.001133
999984,NaN,NaN,NaN,NaN,NaN
999985,NaN,NaN,NaN,NaN,NaN
999986,NaN,NaN,NaN,NaN,NaN
999987,1.000000,NaN,1.000000,0.000004,0.001682
999988,1.000000,NaN,1.000000,0.000003,0.001029
999989,NaN,NaN,NaN,NaN,NaN
999990,0.546923,NaN,0.999143,0.000409,0.000812
999991,1.000000,NaN,1.000000,0.000004,0.001398
999992,NaN,NaN,NaN,NaN,NaN
999993,NaN,NaN,NaN,NaN,NaN
999994,NaN,NaN,NaN,NaN,NaN
999995,NaN,NaN,NaN,NaN,NaN
999996,NaN,NaN,NaN,NaN,NaN
999997,NaN,NaN,NaN,NaN,NaN
999998,NaN,NaN,NaN,NaN,NaN
999999,NaN,NaN,NaN,NaN,NaN

In [133]:
counter.most_common()

[('unknown', 483009), ('4g', 427006), ('2g', 89985)]

In [55]:
sum(counter.values())

907070

In [62]:
bs_avg_kpi['CELL_AVAILABILITY_4G'].min()

0.0

In [63]:
bs_avg_kpi.columns

Index(['T_DATE', 'CELL_LAC_ID', 'CELL_AVAILABILITY_2G', 'CELL_AVAILABILITY_3G',
       'CELL_AVAILABILITY_4G', 'CSSR_2G', 'CSSR_3G',
       'ERAB_PS_BLOCKING_RATE_LTE', 'ERAB_PS_BLOCKING_RATE_PLMN_LTE',
       'ERAB_PS_DROP_RATE_LTE', 'HSPDSCH_CODE_UTIL_3G',
       'NODEB_CNBAP_LOAD_HARDWARE', 'PART_CQI_QPSK_LTE', 'PART_MCS_QPSK_LTE',
       'PROC_LOAD_3G', 'PSSR_2G', 'PSSR_3G', 'PSSR_LTE',
       'RAB_CS_BLOCKING_RATE_3G', 'RAB_CS_DROP_RATE_3G',
       'RAB_PS_BLOCKING_RATE_3G', 'RAB_PS_DROP_RATE_3G', 'RBU_AVAIL_DL',
       'RBU_AVAIL_DL_LTE', 'RBU_AVAIL_UL', 'RBU_OTHER_DL', 'RBU_OTHER_UL',
       'RBU_OWN_DL', 'RBU_OWN_UL', 'RRC_BLOCKING_RATE_3G',
       'RRC_BLOCKING_RATE_LTE', 'RTWP_3G', 'SHO_FACTOR', 'TBF_DROP_RATE_2G',
       'TCH_DROP_RATE_2G', 'UTIL_BRD_CPU_3G', 'UTIL_CE_DL_3G',
       'UTIL_CE_HW_DL_3G', 'UTIL_CE_UL_3G', 'UTIL_SUBUNITS_3G',
       'UL_VOLUME_LTE', 'DL_VOLUME_LTE', 'TOTAL_DL_VOLUME_3G',
       'TOTAL_UL_VOLUME_3G'],
      dtype='object')

In [69]:
bs_avg_kpi[['PSSR_2G', 'PSSR_3G', 'PSSR_LTE']]

         PSSR_2G   PSSR_3G  PSSR_LTE
0            NaN       NaN       NaN
1            NaN       NaN       NaN
2            NaN       NaN       NaN
3            NaN       NaN       NaN
4            NaN       NaN       NaN
5            NaN       NaN       NaN
6            NaN       NaN       NaN
7            NaN       NaN       NaN
8            NaN       NaN       NaN
9            NaN       NaN       NaN
10           NaN       NaN       NaN
11           NaN       NaN       NaN
12           NaN       NaN       NaN
13           NaN       NaN       NaN
14           NaN       NaN       NaN
15           NaN       NaN       NaN
16           NaN       NaN       NaN
17           NaN       NaN       NaN
18           NaN       NaN       NaN
19           NaN       NaN       NaN
20           NaN       NaN       NaN
21           NaN       NaN       NaN
22           NaN       NaN       NaN
23           NaN       NaN       NaN
24           NaN       NaN       NaN
25           NaN       NaN       NaN
26           NaN  0.037558       NaN
27           NaN  0.042616       NaN
28           NaN  0.015579       NaN
29           NaN  0.020851       NaN
...          ...       ...       ...
999970       NaN  0.995115       NaN
999971       NaN  0.988966       NaN
999972  0.999805       NaN       NaN
999973  0.999680       NaN       NaN
999974  0.999936       NaN       NaN
999975       NaN       NaN       NaN
999976  0.997089       NaN       NaN
999977       NaN  1.000000       NaN
999978  1.000000       NaN       NaN
999979  1.000000       NaN       NaN
999980  1.000000       NaN       NaN
999981  1.000000       NaN       NaN
999982       NaN  0.993625       NaN
999983  1.000000       NaN       NaN
999984       NaN  0.996530       NaN
999985       NaN  0.998954       NaN
999986       NaN  0.998599       NaN
999987  1.000000       NaN       NaN
999988  1.000000       NaN       NaN
999989       NaN  0.995590       NaN
999990  0.999143       NaN       NaN
999991  1.000000       NaN       NaN
999992       NaN  1.000000       NaN
999993       NaN  0.995337       NaN
999994       NaN  1.000000       NaN
999995       NaN  0.976775       NaN
999996       NaN  0.993342       NaN
999997       NaN  0.996732       NaN
999998       NaN  0.996784       NaN
999999       NaN  0.991874       NaN

[1000000 rows x 3 columns]

In [6]:
columns_2g = ['CELL_AVAILABILITY_2G', 'CSSR_2G', 'PSSR_2G', 'TBF_DROP_RATE_2G', 'TCH_DROP_RATE_2G']

In [7]:
columns_3g = ['CELL_AVAILABILITY_3G', 'CSSR_3G', 'HSPDSCH_CODE_UTIL_3G', 'NODEB_CNBAP_LOAD_HARDWARE', 'PROC_LOAD_3G',
             'PSSR_3G', 'RAB_CS_BLOCKING_RATE_3G', 'RAB_CS_DROP_RATE_3G', 'RAB_PS_BLOCKING_RATE_3G', 'RAB_PS_DROP_RATE_3G',
             'RRC_BLOCKING_RATE_3G', 'RTWP_3G', 'SHO_FACTOR', 'TOTAL_DL_VOLUME_3G', 'UTIL_BRD_CPU_3G', 'UTIL_CE_DL_3G',
             'UTIL_CE_HW_DL_3G', 'UTIL_CE_UL_3G', 'UTIL_SUBUNITS_3G', 'TOTAL_UL_VOLUME_3G']

In [8]:
columns_4g = ['CELL_AVAILABILITY_4G', 'DL_VOLUME_LTE', 'ERAB_PS_BLOCKING_RATE_LTE', 'ERAB_PS_BLOCKING_RATE_PLMN_LTE',
             'ERAB_PS_DROP_RATE_LTE', 'PART_CQI_QPSK_LTE', 'PART_MCS_QPSK_LTE', 'PSSR_LTE', 'RBU_AVAIL_DL', 'UL_VOLUME_LTE',
             'RBU_AVAIL_DL_LTE', 'RBU_AVAIL_UL', 'RBU_OTHER_DL', 'RBU_OTHER_UL', 'RBU_OWN_DL', 'RBU_OWN_UL', 'RRC_BLOCKING_RATE_LTE']

In [82]:
len((set(columns_4g))) == len(columns_4g)

True

In [85]:
print(bs_avg_kpi.shape)
print(bs_avg_kpi[columns_2g].dropna().shape)
print(bs_avg_kpi[columns_3g].dropna().shape)
print(bs_avg_kpi[columns_4g].dropna().shape)

(1000000, 44)
(0, 5)
(0, 20)
(0, 17)

In [86]:
bs_avg_kpi[columns_2g].head()

   CELL_AVAILABILITY_2G   CSSR_2G  PSSR_2G  TBF_DROP_RATE_2G  TCH_DROP_RATE_2G
0                   1.0  0.932420      NaN          0.000055          0.000377
1                   1.0  0.920801      NaN          0.000059          0.000620
2                   1.0  0.929026      NaN          0.000038          0.000354
3                   1.0  0.923729      NaN          0.000077          0.000587
4                   1.0  0.924741      NaN          0.000051          0.000325

In [118]:
bs_avg_kpi[columns_3g].head()

,CELL_AVAILABILITY_3G,CSSR_3G,HSPDSCH_CODE_UTIL_3G,NODEB_CNBAP_LOAD_HARDWARE,PROC_LOAD_3G,PSSR_3G,RAB_CS_BLOCKING_RATE_3G,RAB_CS_DROP_RATE_3G,RAB_PS_BLOCKING_RATE_3G,RAB_PS_DROP_RATE_3G,RRC_BLOCKING_RATE_3G,RTWP_3G,SHO_FACTOR,TOTAL_DL_VOLUME_3G,UTIL_BRD_CPU_3G,UTIL_CE_DL_3G,UTIL_CE_HW_DL_3G,UTIL_CE_UL_3G,UTIL_SUBUNITS_3G,TOTAL_UL_VOLUME_3G
0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
bs_avg_kpi[columns_4g].head()

,CELL_AVAILABILITY_4G,DL_VOLUME_LTE,ERAB_PS_BLOCKING_RATE_LTE,ERAB_PS_BLOCKING_RATE_PLMN_LTE,ERAB_PS_DROP_RATE_LTE,PART_CQI_QPSK_LTE,PART_MCS_QPSK_LTE,PSSR_LTE,RBU_AVAIL_DL,UL_VOLUME_LTE,RBU_AVAIL_DL_LTE,RBU_AVAIL_UL,RBU_OTHER_DL,RBU_OTHER_UL,RBU_OWN_DL,RBU_OWN_UL,RRC_BLOCKING_RATE_LTE
0,0.02774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.02774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.02774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.02774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.02774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
columns_avg = ['CELL_AVAILABILITY_2G', 'CELL_AVAILABILITY_3G',
       'CELL_AVAILABILITY_4G', 'CSSR_2G', 'CSSR_3G',
       'ERAB_PS_BLOCKING_RATE_LTE', 'ERAB_PS_BLOCKING_RATE_PLMN_LTE',
       'ERAB_PS_DROP_RATE_LTE', 'HSPDSCH_CODE_UTIL_3G',
       'NODEB_CNBAP_LOAD_HARDWARE', 'PART_CQI_QPSK_LTE', 'PART_MCS_QPSK_LTE',
       'PROC_LOAD_3G', 'PSSR_2G', 'PSSR_3G', 'PSSR_LTE',
       'RAB_CS_BLOCKING_RATE_3G', 'RAB_CS_DROP_RATE_3G',
       'RAB_PS_BLOCKING_RATE_3G', 'RAB_PS_DROP_RATE_3G', 'RBU_AVAIL_DL',
       'RBU_AVAIL_DL_LTE', 'RBU_AVAIL_UL', 'RBU_OTHER_DL', 'RBU_OTHER_UL',
       'RBU_OWN_DL', 'RBU_OWN_UL', 'RRC_BLOCKING_RATE_3G',
       'RRC_BLOCKING_RATE_LTE', 'RTWP_3G', 'SHO_FACTOR', 'TBF_DROP_RATE_2G',
       'TCH_DROP_RATE_2G', 'UTIL_BRD_CPU_3G', 'UTIL_CE_DL_3G',
       'UTIL_CE_HW_DL_3G', 'UTIL_CE_UL_3G', 'UTIL_SUBUNITS_3G',
       'UL_VOLUME_LTE', 'DL_VOLUME_LTE', 'TOTAL_DL_VOLUME_3G',
       'TOTAL_UL_VOLUME_3G']

In [10]:
columns_chhn = ['AVEUSERNUMBER', 'AVEUSERNUMBER_PLMN',
       'AVR_DL_HSPA_USER_3G', 'AVR_DL_R99_USER_3G', 'AVR_DL_USER_3G',
       'AVR_DL_USER_LTE', 'AVR_TX_POWER_3G', 'AVR_UL_HSPA_USER',
       'AVR_UL_R99_USER', 'AVR_UL_USER_3G', 'AVR_UL_USER_LTE',
       'DL_AVR_THROUGHPUT_3G', 'DL_AVR_THROUGHPUT_LTE',
       'DL_AVR_THROUGHPUT_R99', 'DL_MEAN_USER_THROUGHPUT_LTE',
       'DL_MEAN_USER_THROUGHPUT_DL_2G', 'DL_MEAN_USER_THROUGHPUT_HSPA3G',
       'DL_MEAN_USER_THROUGHPUT_PLTE', 'DL_MEAN_USER_THROUGHPUT_REL93G',
       'HSDPA_USERS_3G', 'HSUPA_USERS_3G', 'RBU_USED_DL', 'RBU_USED_UL',
       'RELATIVE_RBU_USED_DL', 'RELATIVE_RBU_USED_UL', 'RELATIVE_TX_POWER_3G',
       'UL_AVR_THROUGHPUT_3G', 'UL_AVR_THROUGHPUT_LTE',
       'UL_AVR_THROUGHPUT_R99', 'UL_MEAN_USER_THROUGHPUT_LTE',
       'UL_MEAN_USER_THROUGHPUT_HS3G', 'UL_MEAN_USER_THROUGHPUT_PLTE',
       'UL_MEAN_USER_THROUGHPUT_REL93G']

In [11]:
voice_columns = ['CELL_AVAILABILITY_2G', 'CELL_AVAILABILITY_3G', 'CELL_AVAILABILITY_4G', 'CSSR_2G', 'CSSR_3G',
                 'NODEB_CNBAP_LOAD_HARDWARE', 'PROC_LOAD_3G', 'RAB_CS_BLOCKING_RATE_3G', 'RAB_CS_DROP_RATE_3G',
                 'RBU_AVAIL_DL_LTE', 'RBU_AVAIL_DL', 'RBU_AVAIL_UL', 'RBU_OTHER_DL', 'RBU_OTHER_UL', 'RBU_OWN_DL', 'RBU_OWN_UL',
                 'RRC_BLOCKING_RATE_3G', 'RTWP_3G', 'SHO_FACTOR', 'TCH_DROP_RATE_2G', 'UTIL_BRD_CPU_3G', 'UTIL_CE_DL_3G',
                 'UTIL_CE_HW_DL_3G', 'UTIL_CE_UL_3G', 'UTIL_SUBUNITS_3G', 'AVR_TX_POWER_3G',
                 'RELATIVE_RBU_USED_DL', 'RELATIVE_RBU_USED_UL', 'RELATIVE_TX_POWER_3G'
                ]

In [12]:
data_columns = ['CELL_AVAILABILITY_2G', 'CELL_AVAILABILITY_3G', 'CELL_AVAILABILITY_4G', 'ERAB_PS_BLOCKING_RATE_LTE',
                'ERAB_PS_BLOCKING_RATE_PLMN_LTE', 'ERAB_PS_DROP_RATE_LTE', 'HSPDSCH_CODE_UTIL_3G', 'NODEB_CNBAP_LOAD_HARDWARE',
                'PART_CQI_QPSK_LTE', 'PART_MCS_QPSK_LTE', 'PROC_LOAD_3G', 'PSSR_2G', 'PSSR_3G', 'PSSR_LTE', 
                'RAB_PS_BLOCKING_RATE_3G', 'RAB_PS_DROP_RATE_3G', 'RBU_AVAIL_DL_LTE', 'RBU_AVAIL_DL', 'RBU_AVAIL_UL', 'RBU_OTHER_DL',
                'RBU_OTHER_UL', 'RBU_OWN_DL', 'RBU_OWN_UL', 'RRC_BLOCKING_RATE_3G', 'RRC_BLOCKING_RATE_LTE', 'RTWP_3G',
                'SHO_FACTOR', 'TBF_DROP_RATE_2G', 'UTIL_BRD_CPU_3G', 'UTIL_CE_DL_3G', 'UTIL_CE_HW_DL_3G', 'UTIL_CE_UL_3G',
                'UTIL_SUBUNITS_3G', 'UL_VOLUME_LTE', 'DL_VOLUME_LTE', 'TOTAL_DL_VOLUME_3G', 'TOTAL_UL_VOLUME_3G', 'AVEUSERNUMBER',
                'AVEUSERNUMBER_PLMN', 'AVR_DL_HSPA_USER_3G', 'AVR_DL_R99_USER_3G', 'AVR_DL_USER_3G', 'AVR_DL_USER_LTE',
                'AVR_TX_POWER_3G', 'AVR_UL_HSPA_USER', 'AVR_UL_R99_USER', 'AVR_UL_USER_3G', 'AVR_UL_USER_LTE',
                'DL_AVR_THROUGHPUT_3G', 'DL_AVR_THROUGHPUT_LTE', 'DL_AVR_THROUGHPUT_R99', 'DL_MEAN_USER_THROUGHPUT_LTE',
                'DL_MEAN_USER_THROUGHPUT_DL_2G', 'DL_MEAN_USER_THROUGHPUT_HSPA3G', 'DL_MEAN_USER_THROUGHPUT_PLTE',
                'DL_MEAN_USER_THROUGHPUT_REL93G', 'HSDPA_USERS_3G', 'HSUPA_USERS_3G', 'RBU_USED_DL', 'RBU_USED_UL',
                'RELATIVE_RBU_USED_DL', 'RELATIVE_RBU_USED_UL', 'RELATIVE_TX_POWER_3G', 'UL_AVR_THROUGHPUT_3G',
                'UL_AVR_THROUGHPUT_LTE', 'UL_AVR_THROUGHPUT_R99', 'UL_MEAN_USER_THROUGHPUT_LTE', 'UL_MEAN_USER_THROUGHPUT_HS3G',
                'UL_MEAN_USER_THROUGHPUT_PLTE', 'UL_MEAN_USER_THROUGHPUT_REL93G'
               ]

In [98]:
def internet(x):
    if x in data_columns:
        return "internet"
    return ""
def voice(x):
    if x in voice_columns:
        return "voice"
    return ""

for i in columns_chhn:
    print("{}\t{},{}".format(i, internet(i), voice(i)))

AVEUSERNUMBER	internet,
AVEUSERNUMBER_PLMN	internet,
AVR_DL_HSPA_USER_3G	internet,
AVR_DL_R99_USER_3G	internet,
AVR_DL_USER_3G	internet,
AVR_DL_USER_LTE	internet,
AVR_TX_POWER_3G	internet,voice
AVR_UL_HSPA_USER	internet,
AVR_UL_R99_USER	internet,
AVR_UL_USER_3G	internet,
AVR_UL_USER_LTE	internet,
DL_AVR_THROUGHPUT_3G	internet,
DL_AVR_THROUGHPUT_LTE	internet,
DL_AVR_THROUGHPUT_R99	internet,
DL_MEAN_USER_THROUGHPUT_LTE	internet,
DL_MEAN_USER_THROUGHPUT_DL_2G	internet,
DL_MEAN_USER_THROUGHPUT_HSPA3G	internet,
DL_MEAN_USER_THROUGHPUT_PLTE	internet,
DL_MEAN_USER_THROUGHPUT_REL93G	internet,
HSDPA_USERS_3G	internet,
HSUPA_USERS_3G	internet,
RBU_USED_DL	internet,
RBU_USED_UL	internet,
RELATIVE_RBU_USED_DL	internet,voice
RELATIVE_RBU_USED_UL	internet,voice
RELATIVE_TX_POWER_3G	internet,voice
UL_AVR_THROUGHPUT_3G	internet,
UL_AVR_THROUGHPUT_LTE	internet,
UL_AVR_THROUGHPUT_R99	internet,
UL_MEAN_USER_THROUGHPUT_LTE	internet,
UL_MEAN_USER_THROUGHPUT_HS3G	internet,
UL_MEAN_USER_THROUGHPUT_PLTE	internet,
UL_MEAN_USER_THROUGHPUT_REL93G	internet,

In [112]:
subs_features = pd.read_csv(pathfiles + path_subs_features, sep=';', nrows=1000000, decimal=',')

In [100]:
subs_features.head()

,SNAP_DATE,COM_CAT#1,SK_ID,COM_CAT#2,COM_CAT#3,BASE_TYPE,ACT,ARPU_GROUP,COM_CAT#7,COM_CAT#8,...,COM_CAT#25,COM_CAT#26,COM_CAT#27,COM_CAT#28,COM_CAT#29,COM_CAT#30,COM_CAT#31,COM_CAT#32,COM_CAT#33,COM_CAT#34
0,01.08.01,4,3339,80,5,2,1,12.0,1,1489.0,...,1,1,0.031696,0.076724,0.040279,0.0133,0.083382,0.027579,0.103896,2.0
1,01.08.01,4,238,75,5,2,1,7.0,1,945.0,...,1,1,0.015893,0.012981,0.000000,0.0000,0.048930,0.027579,0.103896,3.0
2,01.08.01,4,4669,43,5,2,1,3.0,3,1033.0,...,1,1,0.000415,0.000000,0.000000,0.0000,0.009397,0.027579,0.103896,3.0
3,01.08.01,4,2555,54,5,2,1,12.0,1,512.0,...,1,1,0.046510,0.039486,0.000829,0.0000,0.196676,0.027579,0.103896,1.0
4,01.08.01,4,2291,38,5,2,1,7.0,1,1268.0,...,1,1,0.005393,0.007385,0.003884,0.0000,0.047297,0.027579,0.103896,6.0

In [105]:
subs_features.columns

Index(['SNAP_DATE', 'COM_CAT#1', 'SK_ID', 'COM_CAT#2', 'COM_CAT#3',
       'BASE_TYPE', 'ACT', 'ARPU_GROUP', 'COM_CAT#7', 'COM_CAT#8',
       'DEVICE_TYPE_ID', 'INTERNET_TYPE_ID', 'REVENUE', 'ITC', 'VAS',
       'RENT_CHANNEL', 'ROAM', 'COST', 'COM_CAT#17', 'COM_CAT#18',
       'COM_CAT#19', 'COM_CAT#20', 'COM_CAT#21', 'COM_CAT#22', 'COM_CAT#23',
       'COM_CAT#24', 'COM_CAT#25', 'COM_CAT#26', 'COM_CAT#27', 'COM_CAT#28',
       'COM_CAT#29', 'COM_CAT#30', 'COM_CAT#31', 'COM_CAT#32', 'COM_CAT#33',
       'COM_CAT#34'],
      dtype='object')

In [103]:
subs_features['SNAP_DATE'].unique()

array(['01.08.01', '01.01.02', '01.05.02', '01.06.01', '01.12.01',
       '01.07.01', '01.04.02', '01.10.01', '01.03.02', '01.09.01',
       '01.11.01', '01.02.02'], dtype=object)

In [109]:
for i in subs_features.columns:
    print(i)
    print(subs_features[i].unique())

SNAP_DATE
['01.08.01' '01.01.02' '01.05.02' '01.06.01' '01.12.01' '01.07.01'
 '01.04.02' '01.10.01' '01.03.02' '01.09.01' '01.11.01' '01.02.02']
COM_CAT#1
[4 3 1 5 7 6 8 2]
SK_ID
[3339  238 4669 ...  820  350 1426]
COM_CAT#2
[80 75 43 54 38 51 36 61 59  5 47 50 70  9 57 65 45 24 16 66 53 28  6 68
 46 79  1 20 11 30 60 41  4 14 10 17 23 48 64 69 31 33 83 22 73 74 49 39
 77 63 78 26 82 55 34 71 25 35  2 21 56 67 42 40 15 12 62 29 44 13  3 52
 76 19 81 58  7 72 27 37 32 18  8]
COM_CAT#3
[ 5  1  9  4 11  2 13 15 17  6  8  3 12 16 10  7 14]
BASE_TYPE
[2 1]
ACT
[1 0]
ARPU_GROUP
[12.  7.  3.  5.  6.  4.  8. 11.  9. 10.  2.  1. nan]
COM_CAT#7
[1 3 4 2 6 7 9 8 5]
COM_CAT#8
[1489.  945. 1033. ... 1434. 1143. 1057.]
DEVICE_TYPE_ID
[ 5.  3.  7.  6. nan  8.  2.  4.  1.]
INTERNET_TYPE_ID
[ 2.  3.  1. nan]
REVENUE
[0.153024 0.121336 0.109565 ... 0.132015 0.131669 0.148063]
ITC
[0.081527 0.012981 0.       ... 0.051615 0.034802 0.070341]
VAS
[0.104168 0.084167 0.098985 ... 0.114738 0.104011 0.109271]
RENT_CHANNEL
[0.058596 0.055007 0.054973 ... 0.062968 0.062593 0.065169]
ROAM
[0.00000e+00 2.53000e-04 5.50000e-05 2.22480e-02 3.00000e-06 8.63000e-04
 7.80000e-05 1.05500e-03 4.83400e-03 2.00000e-06 6.92000e-04 2.67000e-03
 8.00000e-06 8.90000e-05 2.52700e-03 1.41990e-02 3.73000e-04 9.30000e-04
 1.22000e-04 1.00000e-04 3.70000e-05 3.32000e-04 6.10000e-05 1.20300e-03
 7.45000e-04 1.20000e-05 7.40000e-05 6.20000e-04 1.73000e-04 2.18100e-03
 1.10000e-04 5.88000e-04 3.24000e-04 5.70000e-05 2.43000e-04 3.70000e-04
 2.96000e-03 5.00000e-06 3.72580e-02 2.40000e-04 5.00000e-05 3.36000e-04
 1.52000e-04 3.02000e-04 1.62000e-04 4.19000e-04 4.20000e-05 9.66000e-04
 1.98000e-04 6.90000e-05 6.50000e-05 3.52200e-03 1.31700e-03 1.67000e-04
 2.43700e-03 4.40000e-05 1.67340e-02 2.18000e-04 4.21000e-04 1.85000e-04
 8.48000e-04 3.91000e-04 4.83000e-03 2.42000e-04 5.02300e-03 3.17540e-02
 3.14000e-03 4.24000e-04 4.97000e-04 3.33000e-04 2.92800e-03 8.96000e-04
 1.12000e-04 4.10100e-03 2.50000e-05 2.00000e-04 1.28700e-03 1.55000e-04
 2.27000e-04 1.50000e-04 3.37000e-04 1.26000e-04 1.25000e-04 1.27900e-03
 3.51000e-04 2.45000e-04 2.39000e-04 2.16000e-03 3.10000e-05 1.04000e-04
 3.13000e-04 2.79800e-03 7.50000e-05 3.30000e-04 6.45000e-04 2.11930e-02
 1.17100e-03 8.58800e-03 7.35700e-03 1.00000e+00 9.60000e-05 2.30700e-03
 5.05000e-04 3.20000e-05 2.07000e-04 2.25000e-03 6.61000e-04 9.31000e-04
 5.10000e-05 7.86700e-03 3.14200e-03 6.67800e-03 1.80000e-05 2.59310e-02
 2.01000e-04 6.20000e-05 1.47000e-04 1.55100e-03 2.21400e-03 2.04000e-04
 4.65930e-02 4.88000e-04 3.58120e-02 1.30060e-02 4.88800e-03 5.51000e-04
 1.04400e-03 1.16200e-03 9.77100e-03 1.81000e-04 2.83200e-03 1.15000e-04
 2.34580e-02 5.07400e-03 7.38900e-03 3.36000e-03 7.92000e-04 5.90000e-05
 6.16000e-04 1.92100e-03 2.99000e-04 6.76000e-04 5.11300e-03 2.10000e-04
 3.73900e-03 1.94000e-04 9.45000e-04 1.76000e-04 6.60000e-05 7.13000e-04
 1.01200e-03 1.70000e-05 2.13600e-03 8.80000e-05 4.00000e-06 3.72610e-02
 1.34600e-03 1.02900e-03 1.00000e-06 9.30000e-05 2.11000e-04 1.51400e-03
 1.08000e-04 9.90000e-05 2.34000e-04 5.32000e-04 2.37000e-04 2.17000e-04
 8.51240e-02 2.29200e-03 8.29000e-04 4.61000e-04 1.48500e-03 3.48400e-03
 2.00000e-05 1.39000e-04 5.82600e-03 2.56000e-04 1.77600e-03 2.29000e-04
 1.03780e-02 1.06000e-04 2.80000e-04 3.05000e-04 1.13250e-02 1.39350e-02
 9.29000e-03 7.79700e-03 3.49900e-03 2.55390e-02 1.36500e-03 1.03300e-03
 5.78400e-03 1.17000e-04 5.30000e-05 8.10000e-05 3.81800e-03 2.79750e-02
 1.88300e-03 3.56300e-03 6.01000e-04 6.59000e-04 7.00000e-06 1.09000e-04
 4.33400e-03 8.99000e-04 5.11000e-04 1.31000e-04 1.94500e-03 1.97000e-04
 9.40000e-05 6.81000e-04 1.51000e-04 4.08000e-04 2.33600e-03 5.20000e-05
 2.31900e-03 2.57300e-03 3.48000e-04 1.95000e-04 2.91000e-04 3.40000e-05
 6.57000e-04 2.75000e-04 3.67000e-04 8.97000e-04 2.87000e-04 1.83500e-03
 7.80300e-03 7.39000e-04 1.54000e-04 2.60000e-05 9.70000e-05 4.55000e-04
 4.86000e-04 2.16000e-04 3.90000e-05 7.10000e-04 2.02000e-04 2.31800e-03
 3.30000e-05 1.00000e-05 3.79360e-02 1.44000e-04 2.68000e-04 3.80000e-05
 1.63000e-04 1.46000e-04 2.50400e-03 2.66000e-04 1.23710e-02 5.55700e-03
 5.42900e-03 3.50000e-05 2.08100e-03 1.53000e-04 7.95000e-04 2.94700e-03
 7.30000e-05 1.42000e-04 4.30000e-05 2.72800e-03 1.57000e-04 5.27200e-03
 8.26000e-04 4.09000e-04 6.31000e-04 1.30000e-04 3.81000e-04 1.90000e-05
 1.31300e-03 6.85500e-03 9.27030e-02 2.40500e-03 2.03000e-04 1.64000e-04
 4.94400e-03 2.21000e-03 1.20300e-02 3.24400e-03 4.37000e-04 6.12000e-04
 3.50000e-04 2.94000e-04 6.99000e-04 9.80000e-05 3.98000e-04 6.00000e-05
 2.29300e-03 2.10000e-05 3.66000e-04 4.90000e-05 3.34100e-03 5.61400e-03
 4.73000e-04 4.85000e-04 1.02000e-04 1.69000e-04 8.10000e-04 1.34000e-04
 3.58000e-04 9.04000e-04 5.30000e-04 6.35000e-04 1.24340e-02 2.13700e-03
 2.30000e-04 2.72000e-04 1.14000e-04 1.56796e-01 1.05000e-04 2.57200e-03
 1.50000e-05 2.38000e-04 6.18000e-04 1.17800e-03 2.07200e-03 8.70000e-05
 3.29000e-04 7.97000e-04 5.22000e-04 6.40000e-05 4.17500e-03 2.03000e-03
 8.98000e-04 4.49100e-03 2.80000e-05 2.15000e-04 4.12000e-03 9.83890e-02
 3.11000e-04 8.75000e-04 1.34000e-03 2.23600e-03 2.96000e-04 3.03000e-04
 3.20000e-03 7.09000e-04 2.30000e-03 2.78500e-03 9.10000e-05 3.59000e-04
 2.89000e-04 9.20500e-03 1.35800e-03 4.93380e-02 1.15890e-02 2.59000e-04
 5.49000e-04 1.72000e-04 3.01500e-03 5.80000e-05 5.40000e-05 1.26600e-03
 4.79000e-04 2.23000e-04 3.47000e-04 3.64000e-03 2.72090e-02 3.54000e-04
 2.59600e-03 4.14000e-04 3.28000e-04 7.25000e-04 1.74000e-04 2.32500e-03
 1.49000e-04 3.14750e-02 4.84000e-04 1.84000e-04 1.66900e-03 1.27100e-03
 1.70000e-04 2.20000e-04 5.85000e-04 6.30000e-05 3.45300e-03 1.65000e-04
 3.12900e-03 6.51000e-04 2.71800e-03 3.93000e-04 1.23600e-03 4.95000e-04
 1.60400e-03 3.09000e-03 2.76000e-04 1.00230e-02 1.03100e-03 5.65300e-03
 6.55000e-04 2.92000e-04 2.30000e-05 9.27900e-03 1.58000e-04 4.12000e-04
 2.31000e-04 1.16000e-04 2.51500e-03 2.55200e-03 1.07100e-03 5.25000e-04
 9.54600e-03 3.23000e-04 1.01100e-03 6.00000e-06 4.02000e-04 7.58000e-04
 5.12000e-04 5.40000e-04 3.60000e-05 2.00900e-03 4.80700e-03 2.26000e-04
 1.42700e-03 9.53000e-04 6.75300e-03 3.97000e-04 1.33000e-04 4.73990e-02
 9.62000e-04 6.37000e-03 1.51600e-03 1.03000e-04 5.44000e-04 4.45190e-02
 1.01400e-03 5.59000e-04 3.45000e-04 7.67000e-04 2.97000e-04 7.70000e-05
 2.09000e-04 2.53200e-03 8.02000e-04 9.90000e-04 4.60000e-04 2.78000e-04
 2.77000e-04 5.01000e-04 1.79000e-04 3.22000e-04 8.09000e-04 2.05660e-02
 2.21000e-04 9.00000e-05 6.70000e-05 1.91000e-04 5.09600e-03 1.96000e-04
 2.68300e-03 1.72800e-03 9.71200e-03 2.01560e-02]
COST
[0.014106 0.005531 0.004207 ... 0.043797 0.014005 0.009684]
COM_CAT#17
[0.       0.06106  0.091842 ... 0.133087 0.038486 0.143445]
COM_CAT#18
[0.       0.062401 0.12649  0.089555 0.114738 0.129436 0.059557 0.057249
 0.089494 0.105043 0.084584 0.090041 0.067238 0.076069 0.109124 0.104808
 0.117616 0.07475  0.150522 0.159315 0.147643 0.074479 0.154481 0.327841
 0.191256 0.108268 0.113116 0.100995 0.165728 0.169277 0.125542 0.223528
 0.058035 0.084101 0.110827 0.149071 0.148958 0.162615 0.2028   0.167985
 0.126883 0.313944 0.097075 0.173328 0.186986 0.046514 0.13463  0.270394
 0.146803 0.206174 0.177263 0.081197 0.089305 0.210292 0.101424 0.014647
 0.085701 0.245562 0.101042 0.216592 0.384471 0.190655 0.24842  0.257848
 0.094334 0.230375 0.107464 0.25409  0.411796 0.109609 0.184233 0.239333
 0.236099 0.316228 0.093259 0.135257 0.23634  0.109905 0.107291 0.106353
 0.075429 0.140305 0.117211 0.060581 0.044163 0.196014 0.169879 0.245426
 0.060632 0.18232  0.149287 0.15903  0.180002 0.105729 0.134615 0.214429
 0.273694 0.274169 0.107487 0.115113 0.158365 0.178496 0.10669  0.082059
 0.111721 0.081051 0.13055  0.127824 0.077726 0.150454 0.228681 0.058768
 0.16148  0.122385 0.182163 0.076577 0.116401 0.130952 0.110275 0.147592
 0.127347 0.052241 0.201571 0.214716 0.220886 0.112114 0.299535 0.124974
 0.057387 0.16023  0.165002 0.093401 0.146558 0.092161 0.12944  0.098199
 0.157486 0.055656 0.115142 0.097626 0.073059 0.117256 0.106934 0.125247
 0.067708 0.052133 0.127656 0.058296 0.125711 0.136911 0.083706 0.061126
 0.122672 0.097359 0.100356 0.292077 0.089711 0.173568 0.187552 0.151899
 0.090834 0.109803 0.149501 0.182854 0.138431 0.192482 0.304134 0.145472
 0.078586 0.146366 0.157077 0.057632 0.171533 0.087498 0.183703 0.130983
 0.061137 0.079623 0.126852 0.129472 0.053453 0.084469 0.085514 0.044064
 0.020066 0.06993  0.162284 0.050337 0.043815 0.163375 0.078204 0.099443
 0.035084 0.038903 0.142358 0.073458 0.073227 0.190993 0.157343 0.012979
 0.06851  0.121856 0.13669  0.118398 0.147639 0.18809  0.03437  0.098508
 0.300719 0.213959 0.224756 0.303125 0.111146 0.100463 0.255972 0.354423
 0.304729 0.342449 0.37822  0.215487 0.247018 0.1532   0.163923 0.312618
 0.241496 0.236718 0.147268 0.075365 0.151584 0.140506 0.176683 0.156024
 0.123701 0.107516 0.080038 0.070868 0.113255 0.120364 0.052324 0.197017
 0.156661 0.121302 0.174887 0.089339 0.057974 0.076095 0.055706 0.088067
 0.025082 0.04705  0.128647 0.243082 0.066434 0.181955 0.070167 0.064119
 0.086149 0.083906 0.010908 0.143374 0.095217 0.080938 0.044496 0.133487
 0.097501 0.162602 0.079382 0.185814 0.074046 0.136088 0.200537 0.036145
 0.158124 0.194073 0.078609 0.180805 0.196034 0.01395  0.160153 0.119876
 0.297258 0.108287 0.272079 0.290078 0.206306 0.12125  0.287969 0.234641
 0.138513 0.342707 0.206278 0.222801 0.322135 0.138084 0.1327   0.133032
 0.099394 0.197059 0.127803 0.072985 0.079353 0.066371 0.153578 0.100203
 0.187856 0.245017 0.13577  0.103934 0.060319 0.304328 0.144843 0.167129
 0.072212 0.078824 0.211339 0.211135 0.144001 0.120747 0.145027 0.143028
 0.106887 0.051364 0.112745 0.053677 0.25567  0.116204 0.099272 0.068355
 0.122612 0.105543 0.108374 0.108792 0.21388  0.162674 0.249027 0.082626
 0.169383 0.127525 0.181346 0.175346 0.21182  0.100661 0.167372 0.239627
 0.060436 0.062008 0.130251 0.15238  0.186223 0.085374 0.266794 0.064172
 0.089241 0.16203  0.255203 0.139914 0.274412 0.077055 0.0817   0.169409
 0.064491 0.205302 0.116838 0.120498 0.118834 0.221188 0.081462 0.198951
 0.089592 0.134569 0.069644 0.19538  0.220058 0.08143  0.098426 0.119472
 0.128579 0.121972 0.099045 0.08907  0.043855 0.07236  0.04769  0.026476
 0.096411 0.059452 0.004326 0.079554 0.248094 0.130493 0.090591 0.044936
 0.109621 0.0559   0.082086 0.041473 0.142866 0.205061 0.165796 0.086361
 0.100271 0.014142 0.183843 0.080485 0.14183  0.238268 0.246944 0.163065
 0.206173 0.235932 0.079882 0.130611 0.1118   0.129123 0.241732 0.27074
 0.326495 0.111219 0.412612 0.240391 0.129614 0.296968 0.197824 0.429746
 0.318762 0.095023 0.167926 0.095351 0.294019 0.138605 0.150657 0.187159
 0.234595 0.104513 0.080594 0.109821 0.056001 0.170849 0.074139 0.10853
 0.123249 0.163188 0.069453 0.114807 0.134617 0.217053 0.157623 0.079052
 0.117053 0.070806 0.112871 0.180227 0.101443 0.139689 0.14769  0.081307
 0.155064 0.074716 0.081122 0.178745 0.173168 0.09187  0.154904 0.122473
 0.151447 0.113086 0.195079 0.188185 0.147051 0.247477 0.140057 0.225769
 0.178283 0.356983 0.148305 0.170936 0.19809  0.112733 0.113543 0.085097
 0.131791 0.06774  0.073063 0.06333  0.049719 0.15322  0.074694 0.029327
 0.008652 0.168287 0.27661  0.098103 0.076118 0.034453 0.102498 0.09322
 0.082168 0.07288  0.021181 0.083747 0.136021 0.216803 0.063347 0.14018
 0.045522 0.16811  0.079275 0.102603 0.176603 0.055754 0.066793 0.295766
 0.167453 0.351962 0.167601 0.362772 0.124355 0.109258 0.105229 0.208536
 0.091587 0.062858 0.183763 0.098757 0.100496 0.060177 0.230551 0.100801
 0.432432 0.39792  0.14497  0.16245  0.281785 0.121496 0.19385  0.063001
 0.112605 0.199412 0.200263 0.112042 0.289793 0.117956 0.231933 0.159414
 0.086793 0.219253 0.185271 0.256123 0.145622 0.170515 0.084544 0.144498
 0.083157 0.06273  0.195826 0.168552 0.256228 0.070497 0.125856 0.22127
 0.149389 0.270341 0.103814 0.127954 0.140638 0.107014 0.102226 0.134334
 0.14254  0.177228 0.068625 0.114797 0.155716 0.091037 0.2591   0.07951
 0.157348 0.196111 0.128453 0.401605 0.128466 0.103428 0.1655   0.248159
 0.124428 0.238724 0.086634 0.182931 0.25787  0.261486 0.121501 0.203705
 0.13259  0.051547 0.031771 0.095123 0.2971   0.16043  0.115621 0.122021
 0.093901 0.017542 0.113168 0.064644 0.008839 0.083342 0.065464 0.085759
 0.110075 0.150732 0.088239 0.146453 0.013403 0.14855  0.128138 0.197631
 0.073898 0.179323 0.175854 0.12725  0.108562 0.116244 0.157742 0.271785
 0.106254 0.346283 0.299542 0.46075  0.108573 0.28002  0.092676 0.074599
 0.085678 0.260109 0.121838 0.186307 0.143969 0.052026 0.15953  0.220589
 0.135716 0.160002 0.15946  0.098509 0.066931 0.090035 0.186155 0.10652
 0.315783 0.228835 0.117607 0.154739 0.101382 0.128114 0.185405 0.063125
 0.073386 0.083604 0.20829  0.16643  0.091155 0.17972  0.096176 0.173286
 0.05504  0.166437 0.067052 0.123014 0.135857 0.109483 0.378079 0.200632
 0.34179  0.223168 0.386671 0.118761 0.375299 0.210564 0.151926 0.154289
 0.243051 0.217503 0.147617 0.116419 0.121826 0.184341 0.288645 0.126634
 0.069787 0.188593 0.161171 0.081379 0.178534 0.178364 0.084102 0.074542
 0.188834 0.07711  0.353512 0.232375 0.083848 0.066284 0.128839 0.178881
 0.138391 0.186611 0.196585 0.231433 0.09728  0.065457 0.083152 0.073829
 0.085482 0.219222 0.240335 0.436245 0.129757 0.164292 0.281099 0.115012
 0.098722 0.436249 0.055481 0.107922 0.118114 0.144307 0.096723 0.073351
 0.11692  0.108678 0.093076 0.133653 0.08125  0.134988 0.141048 0.120222
 0.133797 0.111269 0.125502 0.171206 0.155083 0.290944 0.064333 0.340757
 0.187205 0.131483 0.128648 0.154406 0.235231 0.088087 0.338018 0.256305
 0.405536 0.376355 0.217793 0.04443  0.138962 0.182462 0.131242 0.124446
 0.093838 0.06099  0.11817  0.0708   0.262352 0.102635 0.24449  0.11435
 0.213268 0.141638 0.171329 0.625064 0.116538 0.152002 0.267462 0.129596
 0.186516 0.125783 0.070738 0.098326 0.095238 0.2171   0.082453 0.300379
 0.151055 0.066469 0.179507 0.115255 0.060032 0.162395 0.081568 0.143357
 0.12926  0.136645 0.080992 0.139682 0.237151 0.16377  0.191049 0.281474
 0.192537 0.195272 0.120761 0.147687 0.092196 0.269381 0.315066 0.101549
 0.319004 0.231341 0.218209 0.186552 0.132047 0.354449 0.114513 0.238742
 0.372795 0.086653 0.080697 0.089864 0.172756 0.072555 0.105472 0.091315
 0.445733 0.115809 0.127641 0.410074 0.086749 0.092647 0.097318 0.254426
 0.101724 0.212012 0.067453 0.175685 0.318039 0.118854 0.196737 0.434168
 0.122866 0.142886 0.138433 0.258617 0.059705 0.217136 0.282831 0.128953
 0.115443 0.222192 0.129044 0.087949 0.139588 0.174482 0.053514 0.035967
 0.066848 0.071053 0.109804 0.320868 0.086831 0.011585 0.181821 0.194633
 0.367009 0.114776 0.273467 0.275459 0.066645 0.120649 0.108214 0.289839
 0.169752 0.241803 0.20527  0.159263 0.119155 0.129114 0.093059 0.167164
 0.083719 0.068843 0.12841  0.177863 0.119835 0.125962 0.181078 0.142419
 0.112334 0.265421 0.11405  0.174305 0.068085 0.139165 0.244448 0.390617
 0.425339 0.162403 0.127398 0.160318 0.137515 0.093783 0.096511 0.083265
 0.114863 0.210856 0.124033 0.107537 0.120721 0.118079 0.158142 0.109023
 0.31504  0.315442 0.121365 0.072062 0.079628 0.109643 0.257412 0.127373
 0.095114 0.170964 0.162844 0.084857 0.08306  0.114702 0.110717 0.042429
 0.110549 0.121539 0.146189 0.06803  0.234699 0.11665  0.354656 0.116084
 0.126193 0.086027 0.181193 0.097835 0.147961 0.113353 0.10607  0.12011
 0.325704 0.107521 0.118376 0.098134 0.290173 0.127488 0.241811 0.109872
 0.141691 0.066632 0.202019 0.136495 0.089419 0.121224 0.123004 0.398988
 0.1175   0.14051  0.145396 0.098316 0.064002 0.189994 0.108107 0.189061
 0.110747 0.155403 0.106615 0.171493 0.160583 0.101421 0.176023 0.098999
 0.186445 0.091762 0.185784 0.174153]
COM_CAT#19
[0.026212 0.056888 0.065724 0.046609 0.078077 0.067    0.027576 0.926834
 0.65174  0.073311 0.09084  0.055389 0.076517 0.518791 0.433022 0.072946
 0.078192 0.084427 0.087677 0.058553 0.051488 0.066307 0.06011  0.062114
 0.588143 0.056329 0.043466 0.797284 1.       0.658053 0.028624 0.079791
 0.079654 0.093944 0.082012 0.085253 0.15512  0.586587 0.087921 0.053483
 0.045861 0.483606 0.074835 0.098306 0.050687 0.059118 0.069849 0.057689
 0.075809 0.05322  0.04338  0.076564 0.035292 0.046235 0.067752 0.079394
 0.114183 0.083115 0.145739 0.095253 0.065386 0.038357 0.109675 0.077226
 0.064963 0.085376 0.07437  0.075046 0.052779 0.050852 0.051369 0.079543
 0.04185  0.053458 0.04218  0.072715 0.065869 0.054765 0.082599 0.083706
 0.075916 0.064114 0.028233 0.078669 0.094034 0.052746 0.05012  0.413588
 0.045868 0.048517 0.049063 0.097251 0.100387 0.052855 0.096184 0.08023
 0.054903 0.073339 0.06962  0.065518 0.04494  0.066665 0.041836 0.05353
 0.046114 0.047403 0.054703 0.079877 0.077176 0.061628 0.085597 0.054234
 0.11843  0.100915 0.105492 0.126102 0.056695 0.06036  0.139223 0.027458
 0.058947 0.081796 0.064716 0.031145 0.074925 0.073214 0.079913 0.090857
 0.063828 0.065413 0.067252 0.109402 0.064021 0.11575  0.056161 0.08226
 0.039093 0.097368 0.058079 0.066855 0.06617  0.064589 0.100772 0.062598
 0.061901 0.075324 0.049419 0.063007 0.049767 0.058988 0.078522 0.045633
 0.047679 0.168664 0.063752 0.47486  0.052493 0.095298 0.090061 0.113396
 0.031843 0.098438 0.087185 0.064882 0.074142 0.055695 0.063245 0.092273
 0.314194 0.057577 0.133901 0.164898 0.067072 0.098022 0.210878 0.053348
 0.048918 0.064911 0.075792 0.072455 0.074842 0.070932 0.047791 0.050153
 0.093311 0.186802 0.631418 0.479681 0.11158  0.977035 0.065406 0.08183
 0.056186 0.062416 0.096738 0.07529  0.061162 0.060536 0.066909 0.1844
 0.244409 0.186574 0.412419 0.064988 0.062202 0.075879 0.208294 0.068532
 0.138033 0.056751 0.097679 0.062989 0.189043 0.082999 0.05692  0.061793
 0.186758 0.08147  0.131319 0.100027 0.248103 0.04561  0.053324 0.
 0.069014 0.076654 0.05335  0.063165 0.045076 0.09788  0.065133 0.062095
 0.057468 0.048948 0.063121]
COM_CAT#20
[0.706638 0.702105 0.69898  ... 0.710321 0.697706 0.715391]
COM_CAT#21
[0.019298 0.019618 0.024146 ... 0.048089 0.021944 0.030393]
COM_CAT#22
[0.706638 0.702105 0.69898  ... 0.710321 0.697706 0.715391]
COM_CAT#23
[0.147071 0.119176 0.110913 ... 0.132046 0.159655 0.128019]
COM_CAT#24
['31.12' '23.05' '30.05' '27.05' '06.05' '29.05' '28.05' '24.05']
COM_CAT#25
[1 0]
COM_CAT#26
[1 0]
COM_CAT#27
[0.031696 0.015893 0.000415 ... 0.043736 0.094435 0.036919]
COM_CAT#28
[0.076724 0.012981 0.       ... 0.048761 0.034802 0.070341]
COM_CAT#29
[0.040279 0.       0.000829 ... 0.019679 0.023789 0.017279]
COM_CAT#30
[0.0133   0.       0.014187 ... 0.011215 0.018514 0.014126]
COM_CAT#31
[0.083382 0.04893  0.009397 ... 0.024683 0.111868 0.081708]
COM_CAT#32
[0.027579 0.027582 0.032157 ... 0.028903 0.04213  0.073489]
COM_CAT#33
[0.103896 0.103926 0.104167 ... 0.106778 0.10451  0.105266]
COM_CAT#34
[ 2.  3.  1.  6. 10.  8. nan  9.  7.  4.  5.]

In [113]:
for i in subs_features.columns:
    print(i)
    print(subs_features[i].unique())

SNAP_DATE
['01.10.01' '01.07.01' '01.06.01' '01.01.02' '01.08.01' '01.04.02'
 '01.05.02' '01.11.01' '01.09.01' '01.02.02' '01.05.01' '01.12.01'
 '01.03.02']
COM_CAT#1
[8 4 3 1 6 5 7 2]
SK_ID
[6954 9663 7895 ... 9224  569 1677]
COM_CAT#2
[44 12 52  3 76 19 40 62 15 81 13 29 38 54 43  9 59  5 80 61 75 47 51 50
 36 70  6 16 65 45 68 11 28 53 46 57 79 66 24 20  1 30 55 71 25 35 21 56
 42 34  2 17 48 23 60 31 64  4 14 69 83 41 33 10 22 49 63 77 73 82 39 78
 26 74  8 32 27 72  7 37 58 18]
COM_CAT#3
[12  5  8  1  2  3  6  4 15 13  9 11  7 10 14 17 16]
BASE_TYPE
[1 2]
ACT
[1 0]
ARPU_GROUP
[12.  8.  7.  9.  1.  6. 11.  2.  5.  3. 10.  4. nan]
COM_CAT#7
[3 1 4 2 7 8 9 6 5]
COM_CAT#8
[  nan  952. 1322. ... 1468.  652.  361.]
DEVICE_TYPE_ID
[ 3.  5.  6.  7.  8. nan  4.  1.  2.]
INTERNET_TYPE_ID
[ 3.  2.  1. nan]
REVENUE
[0.140993 0.125821 0.123145 ... 0.17066  0.169464 0.121402]
ITC
[0.036439 0.000493 0.00119  ... 0.094548 0.019674 0.006591]
VAS
[0.101207 0.084167 0.093465 ... 0.097068 0.142555 0.136186]
RENT_CHANNEL
[0.055145 0.055163 0.055023 ... 0.082338 0.056618 0.059693]
ROAM
[0.00000e+00 2.92480e-02 1.94000e-04 3.97000e-04 4.00000e-06 5.00000e-06
 6.32000e-04 2.04500e-03 1.26200e-03 4.40000e-05 1.00000e-06 5.10000e-05
 2.30000e-05 2.09000e-04 6.50000e-05 3.49340e-02 8.23000e-04 5.00000e-05
 6.10000e-05 5.80000e-05 1.55850e-02 4.27000e-04 3.19190e-02 1.33900e-03
 7.02800e-03 2.03300e-03 2.20000e-04 1.29000e-04 1.74000e-04 5.70000e-05
 2.13700e-03 1.06000e-04 5.68300e-03 1.42000e-04 1.39700e-03 6.62000e-04
 1.98900e-02 1.88430e-02 6.60000e-05 8.70000e-04 1.65000e-04 1.14600e-03
 3.06000e-04 1.35100e-03 1.10100e-03 1.15300e-03 9.93000e-04 1.21300e-03
 3.50000e-05 8.70000e-05 1.11000e-04 6.41000e-04 3.88000e-04 1.32620e-02
 1.88000e-04 1.80000e-05 3.43000e-03 1.69300e-03 6.18000e-04 1.35800e-03
 1.28000e-04 1.03000e-04 9.60000e-05 6.36300e-03 1.10800e-03 6.30000e-04
 1.47400e-03 2.77000e-03 1.70000e-05 1.09100e-03 1.12800e-03 2.18000e-04
 2.00600e-03 2.00000e-06 5.68000e-04 2.90000e-04 1.20610e-02 3.18000e-04
 2.11000e-04 1.32000e-04 8.12000e-04 1.67800e-03 1.59000e-04 4.05000e-04
 1.48000e-04 1.89420e-02 3.20000e-05 1.30000e-05 2.65000e-04 6.48000e-03
 3.92600e-03 1.60000e-04 9.74000e-04 6.09000e-04 2.56000e-04 2.88100e-03
 6.00000e-05 2.25600e-03 8.00000e-05 2.58000e-04 9.00000e-05 1.03300e-03
 3.80000e-05 1.98500e-03 9.80000e-05 1.20000e-05 6.89050e-02 1.66610e-02
 8.30000e-05 3.49000e-04 2.75000e-04 4.49300e-03 4.50000e-05 1.22900e-03
 5.63000e-04 3.15000e-04 2.68000e-04 7.64000e-04 5.30000e-05 6.63600e-03
 6.58440e-02 2.81000e-04 1.05600e-03 2.76900e-03 1.05900e-03 2.31600e-03
 4.21500e-03 7.53000e-04 6.53000e-04 1.45000e-03 8.31000e-04 1.50000e-05
 3.28600e-03 2.24500e-03 4.16000e-04 2.37400e-03 5.67000e-04 6.17000e-04
 1.59200e-03 1.55000e-04 3.23000e-04 1.08000e-04 9.70000e-05 1.42935e-01
 1.08800e-03 3.00000e-06 3.64000e-04 6.44000e-04 1.09700e-03 2.52800e-03
 2.04000e-04 2.60000e-05 7.47530e-02 1.93500e-03 9.75000e-04 1.09000e-04
 1.26000e-04 3.16600e-03 4.23000e-04 3.40000e-05 9.08000e-04 1.95600e-03
 5.20000e-05 1.25000e-03 1.01600e-03 6.94300e-03 5.80000e-04 6.66000e-04
 3.99000e-04 3.77000e-04 5.83000e-04 3.17000e-04 2.26600e-03 9.19000e-04
 4.58700e-03 1.34200e-03 5.90000e-05 4.84000e-04 1.67300e-03 1.53100e-02
 2.05000e-04 1.29400e-03 9.84200e-03 4.60000e-05 6.10000e-04 1.60300e-03
 1.20000e-04 2.82200e-03 6.65600e-03 4.90000e-05 3.21300e-03 2.49000e-04
 4.78000e-04 3.74000e-04 7.80000e-05 6.90000e-05 2.57000e-04 6.95300e-03
 6.89700e-03 2.59000e-04 1.23000e-04 4.34000e-04 3.80000e-03 8.90000e-05
 1.16000e-04 1.14000e-04 3.70000e-05 1.41970e-02 5.21300e-03 1.35500e-03
 7.73000e-04 5.03200e-03 1.90000e-05 3.60000e-05 2.11500e-03 5.41000e-04
 2.12000e-04 3.02000e-04 9.00000e-06 1.15120e-02 7.81700e-03 2.45000e-04
 7.50000e-05 8.92800e-03 1.73110e-02 3.72000e-04 5.60000e-05 2.48100e-03
 6.20000e-04 2.50000e-05 7.21800e-03 1.44000e-04 1.21700e-03 1.19190e-02
 5.90000e-04 2.40000e-05 8.48000e-04 1.72000e-04 6.80000e-05 1.17000e-04
 1.70500e-03 3.30000e-04 5.50000e-05 3.30000e-05 4.11000e-04 1.54000e-04
 1.03800e-03 2.28000e-04 2.35000e-04 8.18000e-04 3.36000e-04 4.66000e-04
 2.10700e-03 4.55000e-04 9.53500e-03 2.14000e-04 2.40000e-04 5.42800e-03
 2.40000e-03 5.22200e-03 2.71000e-04 1.67700e-03 6.29000e-04 1.96000e-04
 9.51000e-04 1.10000e-04 1.97300e-03 1.29000e-03 3.72900e-03 1.58000e-04
 7.75000e-04 1.39900e-03 1.85200e-03 1.47000e-04 8.83000e-04 1.58500e-03
 3.71000e-04 2.18500e-03 8.20000e-05 7.99000e-04 9.10000e-05 1.90700e-03
 3.54000e-04 2.91000e-04 5.29000e-04 2.36000e-04 1.78600e-03 7.90000e-05
 5.40000e-05 1.34000e-04 1.01200e-03 2.94100e-03 6.46000e-04 1.70000e-04
 1.31000e-04 3.00000e-04 1.12130e-02 3.41000e-04 7.18000e-04 1.53620e-02
 3.40000e-04 1.38340e-02 4.15000e-04 1.02700e-03 1.05890e-02 6.73000e-04
 8.28300e-03 9.68000e-04 2.70000e-03 4.17000e-04 7.59000e-04 2.10000e-05
 1.24000e-03 2.88000e-04 3.20000e-04 1.23600e-03 1.40000e-04 1.10000e-05
 6.56000e-04 2.32000e-04 2.31000e-04 6.37000e-04 8.68000e-04 4.68000e-04
 3.05000e-04 1.09540e-02 1.79000e-04 3.82000e-04 5.15000e-04 1.15000e-04
 1.57000e-04 4.80000e-04 7.30000e-05 3.33600e-03 3.00200e-03 3.47500e-03
 1.80100e-03 2.36700e-03 3.33800e-03 1.67000e-04 1.23400e-03 2.61400e-03
 9.13000e-04 5.72700e-03 1.68500e-03 4.63000e-04 2.32930e-02 3.92000e-04
 3.90000e-05 1.73900e-03 1.01000e-04 4.47000e-04 1.25000e-04 1.03200e-03
 7.88500e-03 1.31900e-03 3.10000e-05 7.70000e-05 1.12000e-04 9.43300e-03
 1.02000e-04 1.26700e-03 2.29000e-04 1.06220e-02 1.81680e-02 1.07800e-03
 2.02800e-03 5.18500e-03 2.80000e-05 2.73000e-04 1.50000e-04 1.10400e-03
 1.65800e-03 8.16000e-04 2.35500e-03 1.76000e-04 3.11900e-03 1.75000e-04
 7.00000e-06 1.40700e-03 9.82000e-04 3.55800e-03 1.44000e-03 1.14800e-03
 1.02980e-02 1.11880e-02 5.59020e-02 1.27900e-03 1.25900e-03 7.48000e-04
 2.53000e-04 2.25900e-03 1.00500e-03 9.33300e-03 2.00000e-04 9.55300e-03
 1.20920e-02 1.35300e-03 3.06600e-02 1.31200e-03 6.07000e-03 1.03400e-03
 1.52600e-03 2.04400e-03 4.82000e-04 3.90300e-03 3.58000e-04 5.52000e-04
 1.60400e-03 2.09100e-03 9.79000e-04 5.75200e-03 1.49000e-04 1.62000e-04
 3.98000e-04 5.39000e-04 2.00000e-05 2.49800e-03 2.70000e-04 4.08000e-04
 5.18000e-04 6.40000e-05 4.10520e-02 1.43200e-03 1.17500e-03 2.04200e-03
 3.48000e-04 1.06400e-03 1.35000e-04 8.43000e-04 2.23300e-03 4.13000e-04
 9.20000e-04 7.71000e-04 1.54700e-03 8.27000e-04 2.22000e-04 3.08100e-03
 8.63000e-04 1.43000e-04 2.86000e-04 4.29000e-04 1.00300e-03 7.85000e-04
 2.33600e-03 9.95000e-04 3.35500e-03 7.05200e-03 5.25100e-03 2.74800e-03
 6.61000e-04 1.33000e-04 3.46000e-04 1.25400e-03 7.26907e-01 8.75000e-04
 3.56200e-03 4.00000e-05 3.82200e-03 6.48000e-04 1.04000e-04 1.13650e-02
 1.62900e-03 1.82000e-04 1.65700e-03 2.68900e-03 9.64000e-04 3.62000e-04
 6.63000e-04 3.36100e-03 6.34000e-04 3.13000e-04 5.58000e-04 1.20800e-03
 1.29600e-03 7.60000e-05 2.26800e-03 5.82800e-03 3.81000e-04 4.75000e-04
 6.88700e-03 4.54100e-03 5.52300e-03 9.59000e-03 3.24700e-03 2.90000e-05
 4.48000e-04 1.29590e-02 9.90000e-05 2.98000e-04 6.70600e-02 9.08500e-03
 5.99000e-04 2.38000e-04 5.81000e-04 1.66200e-03 1.39000e-04 3.24000e-04
 1.96100e-03 3.32300e-03 7.12000e-04 1.44400e-03 2.13300e-03 3.10200e-03
 1.32930e-02 6.25500e-03 1.97140e-02 1.24000e-04 5.47000e-04 6.93000e-04
 4.36000e-04 2.42900e-03 4.62000e-04 7.20000e-05 2.78900e-03 3.96000e-04
 2.64000e-04 5.66000e-04 6.58000e-04 2.54000e-04 8.55000e-04 7.22000e-04
 1.33610e-02 9.30000e-05 2.79800e-03 4.02000e-04 2.66000e-04 8.42000e-04
 3.76000e-04 4.22000e-04 1.13000e-04 2.62720e-02 2.66840e-02 1.00000e-04
 3.18400e-03 3.86600e-03 2.08000e-04 2.30000e-04 1.78790e-02 1.66000e-04
 6.17310e-02 8.95000e-04 2.60000e-04 1.52000e-04 3.90500e-03 3.58100e-03]
COST
[0.009049 0.004272 0.004332 ... 0.011851 0.011768 0.014778]
COM_CAT#17
[0.08432  0.       0.103953 ... 0.051976 0.048575 0.114718]
COM_CAT#18
[0.       0.171136 0.137505 ... 0.238254 0.102402 0.068382]
COM_CAT#19
[0.026212 0.057443 0.061276 0.079489 0.085467 0.061115 0.042185 0.066697
 0.541409 0.049109 0.037949 0.052731 0.097679 0.114637 0.091178 0.073575
 0.070691 0.06888  0.048363 0.073098 0.059089 0.046192 0.083789 0.060314
 0.067077 0.07061  0.168916 0.048753 0.049269 0.082018 0.062299 0.058937
 0.066024 0.06186  0.114903 0.081835 0.406988 0.063832 0.062681 0.049259
 0.096632 0.077068 0.084907 0.07918  0.08642  0.067372 0.050052 0.05421
 0.060418 0.350181 0.06069  0.078814 0.040852 0.070372 0.160517 0.051503
 0.089554 0.045267 0.063006 0.056363 0.074467 0.041479 0.042635 0.053985
 0.108781 0.064359 0.082961 0.103614 0.706545 0.062589 0.028452 0.062782
 0.085565 0.058298 0.065023 0.054487 0.03922  0.076407 0.029556 0.052285
 0.051744 0.065953 0.090873 0.065502 0.0682   0.054239 0.052866 0.043785
 0.096007 0.08544  0.073927 0.046235 0.057377 0.067296 0.121688 0.05397
 0.04621  0.471659 0.094353 0.086407 0.076223 0.060522 0.068509 0.138177
 0.077655 0.081974 0.054073 0.081446 0.079844 0.139969 0.092362 0.072249
 0.050611 0.06139  0.075554 0.197631 0.057933 0.547747 0.098652 0.034547
 0.070824 0.270632 0.18229  0.113937 0.060422 0.13101  0.3675   0.04433
 0.055181 0.148449 0.093962 0.061764 0.048181 0.091042 0.036448 0.035734
 0.10463  0.190156 0.217999 0.053808 0.122854 0.058868 0.071957 0.064192
 0.08251  0.045368 0.130803 0.102886 0.055916 0.06035  0.071132 0.109446
 0.089807 0.063848 0.193158 0.152931 0.056453 0.083352 0.078747 0.093991
 0.061312 0.060844 0.075423 0.077503 0.10509  0.075952 0.092387 0.080394
 0.077807 0.057041 0.086274 0.04494  0.068599 0.061224 0.689819 0.056536
 0.056368 0.053402 0.045813 0.072384 0.042624 0.116164 0.052979 0.053607
 0.061469 0.040025 0.052704 0.10138  0.736657 0.036861 0.073255 0.078362
 0.095189 0.064088 0.041324 0.052085 0.048159 0.046624 0.956308 0.103439
 0.067141 0.080543 0.060469 0.059301 0.041449 0.06036  0.505966 0.064493
 0.087395 0.074271 0.042247 0.073426 0.054267 0.045491 0.064257 0.057488
 0.068503 0.219349 0.076789 0.225953 0.045873 0.056044 0.083264 0.050651
 0.002855 0.059696 0.066799 0.052244 0.065833 0.065458 0.121466 0.158832
 0.053549 0.152967 0.080312 0.056978 0.074387 0.059887 0.059352 0.075827
 0.078812 0.054103 0.154597 0.808779 0.111489 0.105222 0.049029 0.067285
 0.044564 0.056938 0.042454 0.049343 0.07308  0.061914 0.048741 0.061967
 0.065819 0.075642 0.050831 0.062713 0.076745 0.113114]
COM_CAT#20
[0.706312 0.704661 0.703671 ... 0.711796 0.712586 0.707079]
COM_CAT#21
[0.025095 0.019298 0.026445 ... 0.020499 0.027185 0.022286]
COM_CAT#22
[0.703244 0.704661 0.703671 ... 0.69075  0.711796 0.707079]
COM_CAT#23
[0.139224 0.126508 0.115878 ... 0.134256 0.100237 0.148723]
COM_CAT#24
['31.12' '23.04' '19.04' '15.04' '12.04' '22.04' '08.04']
COM_CAT#25
[1 0]
COM_CAT#26
[1 0]
COM_CAT#27
[0.014411 0.003488 0.038253 ... 0.008255 0.096262 0.075375]
COM_CAT#28
[0.036439 0.000493 0.00119  ... 0.094548 0.019674 0.006591]
COM_CAT#29
[0.0000e+00 2.0000e-06 1.6770e-03 ... 1.1693e-02 1.3423e-02 4.9480e-03]
COM_CAT#30
[0.       0.005317 0.008519 ... 0.008998 0.009272 0.00711 ]
COM_CAT#31
[0.040759 0.04478  0.03265  ... 0.054616 0.178753 0.028292]
COM_CAT#32
[0.027579 0.027678 0.049063 ... 0.091038 0.030777 0.027776]
COM_CAT#33
[0.103896 0.10464  0.104391 ... 0.104891 0.132721 0.106877]
COM_CAT#34
[10.  7.  3.  2.  9.  1.  8.  4. nan  6.  5.]

In [116]:
subs_bs_data_session = pd.read_csv(pathfiles + path_subs_bs_data_session, sep=';', decimal=',')

In [117]:
subs_bs_data_session.head()

   SK_ID  CELL_LAC_ID   DATA_VOL_MB      START_TIME
0   3853        61951  3.561184e-06  04.04 05:00:00
1   3853        61951  2.732445e-07  04.04 06:00:00
2   3853        61951  6.467041e-07  04.04 07:00:00
3   3853        61951  7.513883e-06  04.04 08:00:00
4   3853        61951  9.002802e-05  04.04 17:00:00

In [159]:
bs_avg_kpi.head()

,T_DATE,CELL_LAC_ID,CELL_AVAILABILITY_2G,CELL_AVAILABILITY_3G,CELL_AVAILABILITY_4G,CSSR_2G,CSSR_3G,ERAB_PS_BLOCKING_RATE_LTE,ERAB_PS_BLOCKING_RATE_PLMN_LTE,ERAB_PS_DROP_RATE_LTE,...,TCH_DROP_RATE_2G,UTIL_BRD_CPU_3G,UTIL_CE_DL_3G,UTIL_CE_HW_DL_3G,UTIL_CE_UL_3G,UTIL_SUBUNITS_3G,UL_VOLUME_LTE,DL_VOLUME_LTE,TOTAL_DL_VOLUME_3G,TOTAL_UL_VOLUME_3G
0,01.01,275453,1.0,1.0,0.02774,0.932420,NaN,NaN,NaN,NaN,...,0.000377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01.01,75331,1.0,1.0,0.02774,0.920801,NaN,NaN,NaN,NaN,...,0.000620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01.01,372021,1.0,1.0,0.02774,0.929026,NaN,NaN,NaN,NaN,...,0.000354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01.01,383252,1.0,1.0,0.02774,0.923729,NaN,NaN,NaN,NaN,...,0.000587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01.01,80247,1.0,1.0,0.02774,0.924741,NaN,NaN,NaN,NaN,...,0.000325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [191]:
bs_avg_kpi.head()

,T_DATE,CELL_LAC_ID,CELL_AVAILABILITY_2G,CELL_AVAILABILITY_3G,CELL_AVAILABILITY_4G,CSSR_2G,CSSR_3G,ERAB_PS_BLOCKING_RATE_LTE,ERAB_PS_BLOCKING_RATE_PLMN_LTE,ERAB_PS_DROP_RATE_LTE,...,TCH_DROP_RATE_2G,UTIL_BRD_CPU_3G,UTIL_CE_DL_3G,UTIL_CE_HW_DL_3G,UTIL_CE_UL_3G,UTIL_SUBUNITS_3G,UL_VOLUME_LTE,DL_VOLUME_LTE,TOTAL_DL_VOLUME_3G,TOTAL_UL_VOLUME_3G
0,01.01,275453,1.0,1.0,0.02774,0.932420,NaN,NaN,NaN,NaN,...,0.000377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01.01,75331,1.0,1.0,0.02774,0.920801,NaN,NaN,NaN,NaN,...,0.000620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01.01,372021,1.0,1.0,0.02774,0.929026,NaN,NaN,NaN,NaN,...,0.000354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01.01,383252,1.0,1.0,0.02774,0.923729,NaN,NaN,NaN,NaN,...,0.000587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01.01,80247,1.0,1.0,0.02774,0.924741,NaN,NaN,NaN,NaN,...,0.000325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [203]:
bs_avg_kpi[bs_avg_kpi['CELL_LAC_ID'] == 106103][columns_4g]

,CELL_AVAILABILITY_4G,DL_VOLUME_LTE,ERAB_PS_BLOCKING_RATE_LTE,ERAB_PS_BLOCKING_RATE_PLMN_LTE,ERAB_PS_DROP_RATE_LTE,PART_CQI_QPSK_LTE,PART_MCS_QPSK_LTE,PSSR_LTE,RBU_AVAIL_DL,UL_VOLUME_LTE,RBU_AVAIL_DL_LTE,RBU_AVAIL_UL,RBU_OTHER_DL,RBU_OTHER_UL,RBU_OWN_DL,RBU_OWN_UL,RRC_BLOCKING_RATE_LTE
428,NaN,0.112799,0.000295,0.000295,0.025896,0.139805,0.447853,0.000009,0.000002,0.007639,NaN,0.000002,NaN,NaN,0.172076,0.046229,0.000554
456718,NaN,0.267825,0.000335,0.000335,0.046055,0.081059,0.144103,0.000009,0.000002,0.016642,NaN,0.000002,NaN,NaN,0.221762,0.061228,0.000822
790335,NaN,0.121834,0.000555,0.000555,0.032472,0.177815,0.382834,0.000009,0.000002,0.014717,NaN,0.000002,NaN,NaN,0.198049,0.061659,0.000491

In [242]:
cells_2g = set()
cells_3g = set()
cells_4g = set()

In [238]:
%%time
for i in enumerate(bs_avg_kpi.values):
    j = i[0]
    if j == 400:
        break
        
    data = bs_avg_kpi[list(columns_2g)].iloc[[j]].values
    #print('2g', data)
    count_2g = (data.size - np.count_nonzero(np.isnan(data))) / data.size
    #print('2g', count_2g)
    
    data = bs_avg_kpi[list(columns_3g)].iloc[[j]].values
    #print('3g', data)
    count_3g = (data.size - np.count_nonzero(np.isnan(data))) / data.size
    #print('3g', count_3g)
    
    data = bs_avg_kpi[list(columns_4g)].iloc[[j]].values
    #print('4g', data)
    count_4g = (data.size - np.count_nonzero(np.isnan(data))) / data.size
    #print('4g', count_4g)
    
    cell_id = bs_avg_kpi[['CELL_LAC_ID']].iloc[[j]].values[0][0]
    #print(cell_id)
    if count_2g > count_3g and count_2g > count_4g:
        cells_2g.add(cell_id)
    elif count_3g > count_2g and count_3g > count_4g:
        cells_3g.add(cell_id)
    else:
        cells_4g.add(cell_id)

Wall time: 1min 8s

In [29]:
bs_avg_kpi.shape

(8941383, 44)

In [20]:
columns

Index(['T_DATE', 'CELL_LAC_ID', 'CELL_AVAILABILITY_2G', 'CELL_AVAILABILITY_3G',
       'CELL_AVAILABILITY_4G', 'CSSR_2G', 'CSSR_3G',
       'ERAB_PS_BLOCKING_RATE_LTE', 'ERAB_PS_BLOCKING_RATE_PLMN_LTE',
       'ERAB_PS_DROP_RATE_LTE', 'HSPDSCH_CODE_UTIL_3G',
       'NODEB_CNBAP_LOAD_HARDWARE', 'PART_CQI_QPSK_LTE', 'PART_MCS_QPSK_LTE',
       'PROC_LOAD_3G', 'PSSR_2G', 'PSSR_3G', 'PSSR_LTE',
       'RAB_CS_BLOCKING_RATE_3G', 'RAB_CS_DROP_RATE_3G',
       'RAB_PS_BLOCKING_RATE_3G', 'RAB_PS_DROP_RATE_3G', 'RBU_AVAIL_DL',
       'RBU_AVAIL_DL_LTE', 'RBU_AVAIL_UL', 'RBU_OTHER_DL', 'RBU_OTHER_UL',
       'RBU_OWN_DL', 'RBU_OWN_UL', 'RRC_BLOCKING_RATE_3G',
       'RRC_BLOCKING_RATE_LTE', 'RTWP_3G', 'SHO_FACTOR', 'TBF_DROP_RATE_2G',
       'TCH_DROP_RATE_2G', 'UTIL_BRD_CPU_3G', 'UTIL_CE_DL_3G',
       'UTIL_CE_HW_DL_3G', 'UTIL_CE_UL_3G', 'UTIL_SUBUNITS_3G',
       'UL_VOLUME_LTE', 'DL_VOLUME_LTE', 'TOTAL_DL_VOLUME_3G',
       'TOTAL_UL_VOLUME_3G'],
      dtype='object')

In [19]:
cells_2g = set()
cells_3g = set()
cells_4g = set()

In [28]:
bs_avg_kpi = pd.read_csv(path + 'bs_avg_kpi.csv', sep=';', skiprows=50000000, nrows=10000000, decimal=',')

In [15]:
#bs_avg_kpi = pd.read_csv(path + 'bs_avg_kpi.csv', sep=';', usecols=list(columns_2g), decimal=',')

In [21]:
%%time
for z in range(6):
    if z == 0:
        bs_avg_kpi = pd.read_csv(path + 'bs_avg_kpi.csv', sep=';', skiprows=z*10000000, nrows=10000000, decimal=',')
    else:
        bs_avg_kpi = pd.read_csv(path + 'bs_avg_kpi.csv', sep=';', skiprows=z*10000000, nrows=10000000, decimal=',', header=None)
    if z == 0:
        columns = bs_avg_kpi.columns
        columns_2g = set(columns_2g)
        columns_3g = set(columns_3g)
        columns_4g = set(columns_4g)
        size_2g = len(columns_2g)
        size_3g = len(columns_3g)
        size_4g = len(columns_4g)
    for i in enumerate(bs_avg_kpi.values):
        j = i[0]
        if j % 100000 == 0:
            print(j)
        count_2g = 0
        count_3g = 0
        count_4g = 0
        for k in enumerate(zip(columns, i[1])):
            if k[0] == 0:
                continue
            is_nan = False
            try:
                is_nan = np.isnan(k[1][1])
            except:
                print(k[1][1])
            if is_nan:
                if k[1][0] in columns_2g:
                    count_2g += 1
                elif k[1][0] in columns_3g:
                    count_3g += 1
                elif k[1][0] in columns_4g:
                    count_4g += 1

        count_2g = (size_2g - count_2g) / size_2g
        count_3g = (size_3g - count_3g) / size_3g
        count_4g = (size_4g - count_4g) / size_4g
        cell_id = i[1][1]

        if count_2g > count_3g and count_2g > count_4g:
            cells_2g.add(cell_id)
        elif count_3g > count_2g and count_3g > count_4g:
            cells_3g.add(cell_id)
        else:
            cells_4g.add(cell_id)

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7600000
7700000
7800000
7900000
8000000
8100000
8200000
8300000
8400000
8500000
8600000
8700000
8800000
8900000
9000000
9100000
9200000
9300000
9400000
9500000
9600000
9700000
9800000
9900000
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7600000
7700000
7800000
7900000
8000000
8100000
8200000
8300000
8400000
8500000
8600000
8700000
8800000
8900000
9000000
9100000
9200000
9300000
9400000
9500000
9600000
9700000
9800000
9900000
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7600000
7700000
7800000
7900000
8000000
8100000
8200000
8300000
8400000
8500000
8600000
8700000
8800000
8900000
9000000
9100000
9200000
9300000
9400000
9500000
9600000
9700000
9800000
9900000
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7600000
7700000
7800000
7900000
8000000
8100000
8200000
8300000
8400000
8500000
8600000
8700000
8800000
8900000
9000000
9100000
9200000
9300000
9400000
9500000
9600000
9700000
9800000
9900000
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7600000
7700000
7800000
7900000
8000000
8100000
8200000
8300000
8400000
8500000
8600000
8700000
8800000
8900000
9000000
9100000
9200000
9300000
9400000
9500000
9600000
9700000
9800000
9900000
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7600000
7700000
7800000
7900000
8000000
8100000
8200000
8300000
8400000
8500000
8600000
8700000
8800000
8900000
Wall time: 1h 21min 5s

In [22]:
send_notify('complete parse')

In [31]:
bs_avg_kpi.head()

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
0,12.05,325057,NaN,1.000000,NaN,NaN,0.936686,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.026281,0.014998
1,12.05,31796,NaN,0.997627,NaN,NaN,0.945454,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.024260,0.006505
2,12.05,271149,NaN,0.997627,NaN,NaN,0.945454,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.018312,0.004470
3,12.05,203648,NaN,0.997800,NaN,NaN,0.877788,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.023933,0.005393
4,12.05,287835,NaN,0.997627,NaN,NaN,0.880437,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.036617,0.006759

In [25]:
len(cells_2g.intersection(cells_4g))

342

In [26]:
len(cells_2g.intersection(cells_3g))

3660

In [27]:
len(cells_3g.intersection(cells_4g))

3125

In [24]:
print('2g', len(cells_2g))
print('3g', len(cells_3g))
print('4g', len(cells_4g))

2g 120455
3g 219457
4g 115660

In [205]:
2g 130
3g 237
4g 33

600

In [30]:
pd.DataFrame(data=list(cells_4g), columns=['cell_id']).to_csv(path + '4g.csv')

In [34]:
325057 in cells_4g

False

In [8]:
subs_bs_voice_session = pd.read_csv(pathfiles + path_subs_bs_voice_session, sep=';', decimal=',')

In [9]:
subs_bs_voice_session['day'] = subs_bs_voice_session['START_TIME'].apply(lambda x:datetime.strptime(x, '%d.%m %H:%M:%S'))

In [11]:
subs_bs_voice_session.head(10)

   SK_ID  CELL_LAC_ID  VOICE_DUR_MIN      START_TIME                 day
0    373       269094       0.001597  27.04 23:00:00 1900-04-27 23:00:00
1    373       269094       0.009583  29.04 17:00:00 1900-04-29 17:00:00
2    373       269094       0.003403  04.04 09:00:00 1900-04-04 09:00:00
3    373       269094       0.004653  08.04 17:00:00 1900-04-08 17:00:00
4    373       249478       0.002361  30.03 16:00:00 1900-03-30 16:00:00
5    373       249478       0.001389  30.04 21:00:00 1900-04-30 21:00:00
6    373       249478       0.005417  13.04 18:00:00 1900-04-13 18:00:00
7    373       249478       0.002986  05.05 11:00:00 1900-05-05 11:00:00
8    373       147305       0.007569  24.03 19:00:00 1900-03-24 19:00:00
9    373       182605       0.006458  26.03 08:00:00 1900-03-26 08:00:00

In [7]:
cells_2g = pd.read_csv(path + '2g.csv')
cells_3g = pd.read_csv(path + '3g.csv')
cells_4g = pd.read_csv(path + '4g.csv')

   Unnamed: 0  cell_id
0           0   262145
1           1        4
2           2   262150
3           3   262151
4           4       16

In [12]:
subs_bs_consumption = pd.read_csv(pathfiles + path_subs_bs_consumption, sep=';', decimal=',')

In [13]:
subs_bs_consumption.head()

   SK_ID  CELL_LAC_ID    MON  SUM_MINUTES  SUM_DATA_MB  SUM_DATA_MIN
0   1827       240277  01.03     0.000000     0.000002      0.000234
1   1827       355195  01.03     0.000072     0.000000      0.000000
2   1827       238554  01.04     0.000000     0.000019      0.000326
3   1827       350978  01.04     0.016576     0.002260      0.004329
4   1827       315010  01.04     0.012755     0.001186      0.002491

In [14]:
subs_bs_consumption['SPEED'] = subs_bs_consumption['SUM_DATA_MB'] / subs_bs_consumption['SUM_DATA_MIN']

In [18]:
subs_bs_consumption['SUM_DATA_MIN'].mean()

0.0029117627765275723

In [19]:
subs_bs_consumption['SPEED'].fillna(0).median()

0.0016005030152333591

In [24]:
subs_bs_consumption.merge(cells_2g, how='inner', left_on='CELL_LAC_ID', right_on='cell_id')['SPEED'].fillna(0).median()

0.0

In [25]:
subs_bs_consumption.merge(cells_3g, how='inner', left_on='CELL_LAC_ID', right_on='cell_id')['SPEED'].fillna(0).median()

0.0006215350460538761

In [26]:
subs_bs_consumption.merge(cells_4g, how='inner', left_on='CELL_LAC_ID', right_on='cell_id')['SPEED'].fillna(0).median()

0.009856861232536212

In [11]:
cells_2g.head()

   Unnamed: 0  cell_id
0           0   262145
1           1        4
2           2   262150
3           3   262151
4           4       16

In [8]:
columns_2g = ['T_DATE', 'CELL_LAC_ID', 'CELL_AVAILABILITY_2G', 'CSSR_2G', 'PSSR_2G', 'TBF_DROP_RATE_2G', 'TCH_DROP_RATE_2G']

In [14]:
columns_3g = ['T_DATE', 'CELL_LAC_ID', 'CELL_AVAILABILITY_3G', 'CSSR_3G', 'HSPDSCH_CODE_UTIL_3G', 'NODEB_CNBAP_LOAD_HARDWARE', 'PROC_LOAD_3G',
             'PSSR_3G', 'RAB_CS_BLOCKING_RATE_3G', 'RAB_CS_DROP_RATE_3G', 'RAB_PS_BLOCKING_RATE_3G', 'RAB_PS_DROP_RATE_3G',
             'RRC_BLOCKING_RATE_3G', 'RTWP_3G', 'SHO_FACTOR', 'TOTAL_DL_VOLUME_3G', 'UTIL_BRD_CPU_3G', 'UTIL_CE_DL_3G',
             'UTIL_CE_HW_DL_3G', 'UTIL_CE_UL_3G', 'UTIL_SUBUNITS_3G', 'TOTAL_UL_VOLUME_3G']

In [15]:
columns_4g = ['T_DATE', 'CELL_LAC_ID', 'CELL_AVAILABILITY_4G', 'DL_VOLUME_LTE', 'ERAB_PS_BLOCKING_RATE_LTE', 'ERAB_PS_BLOCKING_RATE_PLMN_LTE',
             'ERAB_PS_DROP_RATE_LTE', 'PART_CQI_QPSK_LTE', 'PART_MCS_QPSK_LTE', 'PSSR_LTE', 'RBU_AVAIL_DL', 'UL_VOLUME_LTE',
             'RBU_AVAIL_DL_LTE', 'RBU_AVAIL_UL', 'RBU_OTHER_DL', 'RBU_OTHER_UL', 'RBU_OWN_DL', 'RBU_OWN_UL', 'RRC_BLOCKING_RATE_LTE']

In [18]:
bs_avg_kpi = pd.read_csv(path + 'bs_avg_kpi.csv', sep=';', usecols=columns_4g, decimal=',')

In [19]:
bs_avg_kpi.merge(cells_4g, how='inner', left_on='CELL_LAC_ID', right_on='cell_id')[columns_4g].to_csv(path + 'bs_avg_kpi_4g.csv', index=False)