In [1]:
import pandas as pd

In [3]:
path = 'C:/data/mlbootcamp/dataset/'

In [4]:
bs_avg_kpi = pd.read_csv(path + 'bs_avg_kpi_2g.csv')

In [5]:
bs_avg_kpi.head()

,T_DATE,CELL_LAC_ID,CELL_AVAILABILITY_2G,CSSR_2G,PSSR_2G,TBF_DROP_RATE_2G,TCH_DROP_RATE_2G
0,1.01,275453,1.0,0.932420,NaN,0.000055,0.000377
1,17.05,275453,1.0,0.931243,NaN,0.000020,0.000206
2,31.01,275453,1.0,0.931607,NaN,0.000018,0.000173
3,29.01,275453,1.0,0.930856,NaN,0.000020,0.000228
4,2.01,275453,1.0,0.925372,NaN,0.000053,0.000297

In [6]:
bs_avg_kpi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16397775 entries, 0 to 16397774
Data columns (total 7 columns):
T_DATE                  float64
CELL_LAC_ID             int64
CELL_AVAILABILITY_2G    float64
CSSR_2G                 float64
PSSR_2G                 float64
TBF_DROP_RATE_2G        float64
TCH_DROP_RATE_2G        float64
dtypes: float64(6), int64(1)
memory usage: 875.7 MB

In [7]:
bs_avg_kpi.describe()

,T_DATE,CELL_LAC_ID,CELL_AVAILABILITY_2G,CSSR_2G,PSSR_2G,TBF_DROP_RATE_2G,TCH_DROP_RATE_2G
count,1.639778e+07,1.639778e+07,1.639301e+07,8.847628e+06,7.009606e+06,1.583272e+07,1.411336e+07
mean,1.565816e+01,2.543382e+05,9.984489e-01,9.288820e-01,9.989190e-01,2.913875e-05,2.997324e-03
std,8.747801e+00,1.469432e+05,3.237738e-02,1.080749e-02,1.604193e-02,6.553463e-04,5.603819e-03
min,1.010000e+00,4.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.030000e+00,1.271340e+05,1.000000e+00,9.288910e-01,9.999410e-01,1.200000e-05,5.140000e-04
50%,1.601000e+01,2.543610e+05,1.000000e+00,9.313440e-01,1.000000e+00,2.100000e-05,1.249000e-03
75%,2.304000e+01,3.805010e+05,1.000000e+00,9.324650e-01,1.000000e+00,3.700000e-05,3.138000e-03
max,3.105000e+01,5.104700e+05,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [8]:
bs_avg_kpi['CELL_AVAILABILITY_2G'].fillna(bs_avg_kpi['CELL_AVAILABILITY_2G'].median(), inplace=True)

In [10]:
bs_avg_kpi['CSSR_2G'].fillna(bs_avg_kpi['CSSR_2G'].median(), inplace=True)

In [12]:
bs_avg_kpi['PSSR_2G'].fillna(bs_avg_kpi['PSSR_2G'].median(), inplace=True)

In [14]:
bs_avg_kpi['TBF_DROP_RATE_2G'].fillna(bs_avg_kpi['TBF_DROP_RATE_2G'].median(), inplace=True)

In [16]:
bs_avg_kpi['TCH_DROP_RATE_2G'].fillna(bs_avg_kpi['TCH_DROP_RATE_2G'].median(), inplace=True)

In [17]:
print(bs_avg_kpi.shape)
print(bs_avg_kpi.dropna().shape)

(16397775, 7)
(16397775, 7)

In [20]:
from sklearn import datasets
from sklearn.cluster import KMeans

In [18]:
columns_2g = ['CELL_AVAILABILITY_2G', 'CSSR_2G', 'PSSR_2G', 'TBF_DROP_RATE_2G', 'TCH_DROP_RATE_2G']

In [21]:
n_clusters = 3

X = bs_avg_kpi[columns_2g]

model = KMeans(n_clusters=n_clusters)
model.fit(X)

all_predictions = model.predict(X)

In [ ]:
%%time

from sklearn.manifold import TSNE
tsne = TSNE(random_state=17)

X_tsne = tsne.fit_transform(X)

In [ ]:
plt.figure(figsize=(12,10))
plt.scatter(X_tsne[:, 0], X_tsne[:, 1], c=all_predictions, 
            edgecolor='none', alpha=0.7, s=40,
            cmap=plt.cm.get_cmap('nipy_spectral', n_clusters))
plt.colorbar()
plt.title('MNIST. t-SNE projection')