In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from collections import defaultdict

In [2]:
%matplotlib inline

In [3]:
from keras.callbacks import Callback
from matplotlib import pyplot as plt
from IPython.display import clear_output
class PlotLearning(Callback):
    def on_train_begin(self, logs={}):
        self.i = 0
        self.x = []
        self.losses = []
        self.val_losses = []
        self.acc = []
        self.val_acc = []
        self.fig = plt.figure()
        
        self.logs = []

    def on_epoch_end(self, epoch, logs={}):
        
        self.logs.append(logs)
        self.x.append(self.i)
        self.losses.append(logs.get('loss'))
        self.val_losses.append(logs.get('val_loss'))
        self.acc.append(logs.get('auc'))
        self.val_acc.append(logs.get('val_auc'))
        self.i += 1
        f, (ax1, ax2) = plt.subplots(1, 2, sharex=True,figsize=(15,10))
        
        clear_output(wait=True)
        
        ax1.set_yscale('log')
        ax1.plot(self.x, self.losses, label="loss")
        ax1.plot(self.x, self.val_losses, label="validation_loss")
        ax1.legend()
        
        ax2.plot(self.x, self.acc, label="accuracy")
        ax2.plot(self.x, self.val_acc, label="validation accuracy")
        ax2.legend()
        
        plt.show();
        
plot = PlotLearning()

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [4]:
import telepot
def send_notify(text):
    with open('../../_access_keys/telegram_token.txt', 'r') as content_file:
        token = content_file.read()
    with open('../../_access_keys/user.txt', 'r') as content_file:
        user = content_file.read()
    try:
        TelegramBot = telepot.Bot(token)
        TelegramBot.sendMessage(int(user), text)
    except:
        pass

In [5]:
TRAIN = True
DNN = True

In [6]:
path = 'c:/data/mlbootcamp/dataset/'
path_train = path + 'train/'
path_test = path + 'test/'
path_features = 'features/'
if TRAIN:
    pathfiles = path_train
    path_subs_bs_consumption = 'subs_bs_consumption_train.csv'
    path_subs_bs_data_session = 'subs_bs_data_session_train.csv'
    path_subs_bs_voice_session = 'subs_bs_voice_session_train.csv'
    path_subs_features = 'subs_features_train.csv'
    path_subs_csi = 'subs_csi_train.csv'
    path_new_features = 'features.csv'
else:
    pathfiles = path_test
    path_subs_bs_consumption = 'subs_bs_consumption_test.csv'
    path_subs_bs_data_session = 'subs_bs_data_session_test.csv'
    path_subs_bs_voice_session = 'subs_bs_voice_session_test.csv'
    path_subs_features = 'subs_features_test.csv'
    path_subs_csi = 'subs_csi_test.csv'
    path_new_features = 'features.csv'

In [7]:
subs_csi = pd.read_csv(pathfiles + path_subs_csi, sep=';', decimal=',')

In [8]:
subs_csi.head(1)

   SK_ID  CSI CONTACT_DATE
0      2    0        04.05

In [9]:
subs_csi.shape

(4222, 3)

In [10]:
cells_2g = set(pd.read_csv(path + '2g.csv')['cell_id'].unique())
cells_3g = set(pd.read_csv(path + '3g.csv')['cell_id'].unique())
cells_4g = set(pd.read_csv(path + '4g.csv')['cell_id'].unique())

In [11]:
# 2G

In [12]:
columns_2g = ['CSSR_2G', 'PSSR_2G', 'TBF_DROP_RATE_2G', 'TCH_DROP_RATE_2G']

In [13]:
# 3G

In [14]:
columns_3g = ['CSSR_3G',    
             'PSSR_3G', 'RAB_CS_BLOCKING_RATE_3G', 'RAB_CS_DROP_RATE_3G', 'RAB_PS_BLOCKING_RATE_3G', 'RAB_PS_DROP_RATE_3G']

In [15]:
# 4G

In [16]:
columns_4g = ['ERAB_PS_BLOCKING_RATE_LTE', 'ERAB_PS_BLOCKING_RATE_PLMN_LTE',
             'ERAB_PS_DROP_RATE_LTE', 'PSSR_LTE', 'RRC_BLOCKING_RATE_LTE']

In [17]:
1

1

In [18]:
columns_avg = ['CELL_AVAILABILITY_2G', 'CELL_AVAILABILITY_3G',
       'CELL_AVAILABILITY_4G', 'CSSR_2G', 'CSSR_3G',
       'ERAB_PS_BLOCKING_RATE_LTE', 'ERAB_PS_BLOCKING_RATE_PLMN_LTE',
       'ERAB_PS_DROP_RATE_LTE', 'HSPDSCH_CODE_UTIL_3G',
       'NODEB_CNBAP_LOAD_HARDWARE', 'PART_CQI_QPSK_LTE', 'PART_MCS_QPSK_LTE',
       'PROC_LOAD_3G', 'PSSR_2G', 'PSSR_3G', 'PSSR_LTE',
       'RAB_CS_BLOCKING_RATE_3G', 'RAB_CS_DROP_RATE_3G',
       'RAB_PS_BLOCKING_RATE_3G', 'RAB_PS_DROP_RATE_3G', 'RBU_AVAIL_DL',
       'RBU_AVAIL_DL_LTE', 'RBU_AVAIL_UL', 'RBU_OTHER_DL', 'RBU_OTHER_UL',
       'RBU_OWN_DL', 'RBU_OWN_UL', 'RRC_BLOCKING_RATE_3G',
       'RRC_BLOCKING_RATE_LTE', 'RTWP_3G', 'SHO_FACTOR', 'TBF_DROP_RATE_2G',
       'TCH_DROP_RATE_2G', 'UTIL_BRD_CPU_3G', 'UTIL_CE_DL_3G',
       'UTIL_CE_HW_DL_3G', 'UTIL_CE_UL_3G', 'UTIL_SUBUNITS_3G',
       'UL_VOLUME_LTE', 'DL_VOLUME_LTE', 'TOTAL_DL_VOLUME_3G',
       'TOTAL_UL_VOLUME_3G']

In [19]:
columns_chhn = ['AVEUSERNUMBER', 'AVEUSERNUMBER_PLMN',
       'AVR_DL_HSPA_USER_3G', 'AVR_DL_R99_USER_3G', 'AVR_DL_USER_3G',
       'AVR_DL_USER_LTE', 'AVR_TX_POWER_3G', 'AVR_UL_HSPA_USER',
       'AVR_UL_R99_USER', 'AVR_UL_USER_3G', 'AVR_UL_USER_LTE',
       'DL_AVR_THROUGHPUT_3G', 'DL_AVR_THROUGHPUT_LTE',
       'DL_AVR_THROUGHPUT_R99', 'DL_MEAN_USER_THROUGHPUT_LTE',
       'DL_MEAN_USER_THROUGHPUT_DL_2G', 'DL_MEAN_USER_THROUGHPUT_HSPA3G',
       'DL_MEAN_USER_THROUGHPUT_PLTE', 'DL_MEAN_USER_THROUGHPUT_REL93G',
       'HSDPA_USERS_3G', 'HSUPA_USERS_3G', 'RBU_USED_DL', 'RBU_USED_UL',
       'RELATIVE_RBU_USED_DL', 'RELATIVE_RBU_USED_UL', 'RELATIVE_TX_POWER_3G',
       'UL_AVR_THROUGHPUT_3G', 'UL_AVR_THROUGHPUT_LTE',
       'UL_AVR_THROUGHPUT_R99', 'UL_MEAN_USER_THROUGHPUT_LTE',
       'UL_MEAN_USER_THROUGHPUT_HS3G', 'UL_MEAN_USER_THROUGHPUT_PLTE',
       'UL_MEAN_USER_THROUGHPUT_REL93G']

In [20]:
data_columns = ['CELL_AVAILABILITY_2G', 'CELL_AVAILABILITY_3G', 'CELL_AVAILABILITY_4G', 'ERAB_PS_BLOCKING_RATE_LTE',
                'ERAB_PS_BLOCKING_RATE_PLMN_LTE', 'ERAB_PS_DROP_RATE_LTE', 'HSPDSCH_CODE_UTIL_3G', 'NODEB_CNBAP_LOAD_HARDWARE',
                'PART_CQI_QPSK_LTE', 'PART_MCS_QPSK_LTE', 'PROC_LOAD_3G', 'PSSR_2G', 'PSSR_3G', 'PSSR_LTE', 
                'RAB_PS_BLOCKING_RATE_3G', 'RAB_PS_DROP_RATE_3G', 'RBU_AVAIL_DL_LTE', 'RBU_AVAIL_DL', 'RBU_AVAIL_UL', 'RBU_OTHER_DL',
                'RBU_OTHER_UL', 'RBU_OWN_DL', 'RBU_OWN_UL', 'RRC_BLOCKING_RATE_3G', 'RRC_BLOCKING_RATE_LTE', 'RTWP_3G',
                'SHO_FACTOR', 'TBF_DROP_RATE_2G', 'UTIL_BRD_CPU_3G', 'UTIL_CE_DL_3G', 'UTIL_CE_HW_DL_3G', 'UTIL_CE_UL_3G',
                'UTIL_SUBUNITS_3G', 'UL_VOLUME_LTE', 'DL_VOLUME_LTE', 'TOTAL_DL_VOLUME_3G', 'TOTAL_UL_VOLUME_3G', 'AVEUSERNUMBER',
                'AVEUSERNUMBER_PLMN', 'AVR_DL_HSPA_USER_3G', 'AVR_DL_R99_USER_3G', 'AVR_DL_USER_3G', 'AVR_DL_USER_LTE',
                'AVR_TX_POWER_3G', 'AVR_UL_HSPA_USER', 'AVR_UL_R99_USER', 'AVR_UL_USER_3G', 'AVR_UL_USER_LTE',
                'DL_AVR_THROUGHPUT_3G', 'DL_AVR_THROUGHPUT_LTE', 'DL_AVR_THROUGHPUT_R99', 'DL_MEAN_USER_THROUGHPUT_LTE',
                'DL_MEAN_USER_THROUGHPUT_DL_2G', 'DL_MEAN_USER_THROUGHPUT_HSPA3G', 'DL_MEAN_USER_THROUGHPUT_PLTE',
                'DL_MEAN_USER_THROUGHPUT_REL93G', 'HSDPA_USERS_3G', 'HSUPA_USERS_3G', 'RBU_USED_DL', 'RBU_USED_UL',
                'RELATIVE_RBU_USED_DL', 'RELATIVE_RBU_USED_UL', 'RELATIVE_TX_POWER_3G', 'UL_AVR_THROUGHPUT_3G',
                'UL_AVR_THROUGHPUT_LTE', 'UL_AVR_THROUGHPUT_R99', 'UL_MEAN_USER_THROUGHPUT_LTE', 'UL_MEAN_USER_THROUGHPUT_HS3G',
                'UL_MEAN_USER_THROUGHPUT_PLTE', 'UL_MEAN_USER_THROUGHPUT_REL93G'
               ]

In [21]:
voice_columns = ['CELL_AVAILABILITY_2G', 'CELL_AVAILABILITY_3G', 'CELL_AVAILABILITY_4G', 'CSSR_2G', 'CSSR_3G',
                 'NODEB_CNBAP_LOAD_HARDWARE', 'PROC_LOAD_3G', 'RAB_CS_BLOCKING_RATE_3G', 'RAB_CS_DROP_RATE_3G',
                 'RBU_AVAIL_DL_LTE', 'RBU_AVAIL_DL', 'RBU_AVAIL_UL', 'RBU_OTHER_DL', 'RBU_OTHER_UL', 'RBU_OWN_DL', 'RBU_OWN_UL',
                 'RRC_BLOCKING_RATE_3G', 'RTWP_3G', 'SHO_FACTOR', 'TCH_DROP_RATE_2G', 'UTIL_BRD_CPU_3G', 'UTIL_CE_DL_3G',
                 'UTIL_CE_HW_DL_3G', 'UTIL_CE_UL_3G', 'UTIL_SUBUNITS_3G', 'AVR_TX_POWER_3G',
                 'RELATIVE_RBU_USED_DL', 'RELATIVE_RBU_USED_UL', 'RELATIVE_TX_POWER_3G'
                ]

In [22]:
%%time
if TRAIN:
    parameters_nets = defaultdict()
    for tc in [columns_2g, columns_3g, columns_4g]:
        for c in tc:
            for i in range(3):
                index = i + 1
                gdata = pd.read_csv(path + '{0}_{1}.csv'.format(c, index))
                for v in gdata.values:
                    key = (int(v[1]), v[0])
                    parameters_nets.setdefault(key, set()).add((c, i))
                print(c, i)

CSSR_2G 0
CSSR_2G 1
CSSR_2G 2
PSSR_2G 0
PSSR_2G 1
PSSR_2G 2
TBF_DROP_RATE_2G 0
TBF_DROP_RATE_2G 1
TBF_DROP_RATE_2G 2
TCH_DROP_RATE_2G 0
TCH_DROP_RATE_2G 1
TCH_DROP_RATE_2G 2
CSSR_3G 0
CSSR_3G 1
CSSR_3G 2
PSSR_3G 0
PSSR_3G 1
PSSR_3G 2
RAB_CS_BLOCKING_RATE_3G 0
RAB_CS_BLOCKING_RATE_3G 1
RAB_CS_BLOCKING_RATE_3G 2
RAB_CS_DROP_RATE_3G 0
RAB_CS_DROP_RATE_3G 1
RAB_CS_DROP_RATE_3G 2
RAB_PS_BLOCKING_RATE_3G 0
RAB_PS_BLOCKING_RATE_3G 1
RAB_PS_BLOCKING_RATE_3G 2
RAB_PS_DROP_RATE_3G 0
RAB_PS_DROP_RATE_3G 1
RAB_PS_DROP_RATE_3G 2
ERAB_PS_BLOCKING_RATE_LTE 0
ERAB_PS_BLOCKING_RATE_LTE 1
ERAB_PS_BLOCKING_RATE_LTE 2
ERAB_PS_BLOCKING_RATE_PLMN_LTE 0
ERAB_PS_BLOCKING_RATE_PLMN_LTE 1
ERAB_PS_BLOCKING_RATE_PLMN_LTE 2
ERAB_PS_DROP_RATE_LTE 0
ERAB_PS_DROP_RATE_LTE 1
ERAB_PS_DROP_RATE_LTE 2
PSSR_LTE 0
PSSR_LTE 1
PSSR_LTE 2
RRC_BLOCKING_RATE_LTE 0
RRC_BLOCKING_RATE_LTE 1
RRC_BLOCKING_RATE_LTE 2
Wall time: 20min 3s

In [23]:
def get_params(result, cell_id, dt, the_data, v):
    index = 0
    key = (cell_id, dt)
    item = None
    if key in parameters_nets:
        item = parameters_nets[key]
    for tc in [columns_2g, columns_3g, columns_4g]:
        for c in tc:
            for i in range(3):
                if (c in data_columns and the_data) or (c in voice_columns and not the_data):
                    if item is not None:
                        if (c, i) in item:
                            result[2 * index + 0] += v
                            result[2 * index + 1] += 1
                    index = index + 1
    return result

In [24]:
#len(get_params(0, 0, False, 1))

In [25]:
subs_bs_consumption = pd.read_csv(pathfiles + path_subs_bs_consumption, sep=';', decimal=',')

In [26]:
subs_bs_consumption.head(1)

   SK_ID  CELL_LAC_ID    MON  SUM_MINUTES  SUM_DATA_MB  SUM_DATA_MIN
0   1827       240277  01.03          0.0     0.000002      0.000234

In [27]:
subs_bs_consumption['month'] = subs_bs_consumption['MON'].apply(lambda x:datetime.strptime(x, '%d.%m').month)

In [28]:
def append_data(key, index, i):
    subs_bs_consumption_minutes[key][index] += i[3]
    subs_bs_consumption_data[key][index] += i[4]
    subs_bs_consumption_voice[key][index] += i[5]
    subs_bs_consumption_data[key][index + 1] += 1
    subs_bs_consumption_minutes[key][index + 1] += 1
    subs_bs_consumption_voice[key][index + 1] += 1
        
subs_bs_consumption_data = defaultdict()
subs_bs_consumption_minutes = defaultdict()
subs_bs_consumption_voice = defaultdict()
for i in subs_bs_consumption.values:
    sk_id = i[0]
    m = i[6]
    cell_id = i[1]
    key = (sk_id, m)
    subs_bs_consumption_data.setdefault(key, [0, 0, 0, 0, 0, 0, 0, 0])
    subs_bs_consumption_minutes.setdefault(key, [0, 0, 0, 0, 0, 0, 0, 0])
    subs_bs_consumption_voice.setdefault(key, [0, 0, 0, 0, 0, 0, 0, 0])
    if cell_id in cells_2g:
        append_data(key, 0, i)
    if cell_id in cells_3g:
        append_data(key, 2, i)
    if cell_id in cells_4g:
        append_data(key, 4, i)
    append_data(key, 6, i)

In [29]:
def standart(_mx, _dict):
    for k in _dict:
        item = _dict[key]
        for i in range(8):
            _mx[i] = np.max([_mx[i], item[i]])

if TRAIN:
    data_mx = [0, 0, 0, 0, 0, 0, 0, 0]
    standart(data_mx, subs_bs_consumption_data)
    min_mx = [0, 0, 0, 0, 0, 0, 0, 0]
    standart(min_mx, subs_bs_consumption_minutes)
    voice_mx = [0, 0, 0, 0, 0, 0, 0, 0]
    standart(voice_mx, subs_bs_consumption_voice)

In [30]:
subs_bs_data_session = pd.read_csv(pathfiles + path_subs_bs_data_session, sep=';', decimal=',')

In [31]:
subs_bs_data_session.head(1)

   SK_ID  CELL_LAC_ID  DATA_VOL_MB      START_TIME
0   3853        61951     0.000004  04.04 05:00:00

In [32]:
subs_bs_data_session['day'] = subs_bs_data_session['START_TIME'].apply(lambda x:datetime.strptime(x, '%d.%m %H:%M:%S').date())

In [33]:
user_data_session = defaultdict()
for i in subs_bs_data_session.values:
    sk_id = i[0]
    dt = i[4]
    cell_id = i[1]
    key = (sk_id, dt)
    user_data_session.setdefault(key, defaultdict()).setdefault(cell_id, 0)
    user_data_session[key][cell_id] += i[2]

In [34]:
mx_data = [0.04403474597558999,
 17.0,
 0.10681948990649001,
 22.0,
 0.008108765826749999,
 5.0,
 0.039482985031810004,
 20.0,
 0.34390804355693994,
 45.0,
 0.17186245079211998,
 23.0,
 2.19409534707708,
 71.0,
 0.49649307057301,
 53.0,
 3.9075563596610294,
 44.0,
 0.22228982460173,
 16.0,
 0.1594160576595,
 14.0,
 0.13241774348152002,
 9.0,
 0.38035099499083996,
 49.0,
 3.9075563596610294,
 76.0,
 0.7967573363090201,
 26.0,
 1.2757119525067502,
 43.0,
 1.0333757285307996,
 46.0,
 0.9592630652308298,
 39.0,
 0.57891133275178,
 32.0,
 0.68382974327276,
 29.0,
 0.6425194990805501,
 40.0,
 0.31184953828453,
 23.0,
 0.62670324045005,
 44.0,
 0.7785659334577402,
 33.0,
 1.2757119525067502,
 94.0,
 1.2757119525067502,
 88.0,
 0.0,
 0.0,
 1.2757119525067502,
 35.0,
 1.19643275222867,
 48.0,
 1.1049123081166201,
 37.0,
 0.34390804355693994,
 3.9075563596610294,
 2.1853913163519203,
 50.0,
 87.0,
 110.0,
 1.0]

In [35]:
mx_voice = [1.6647916500000002,
 18.0,
 1.3381249666666668,
 24.0,
 1.8892360625,
 35.0,
 1.8582638416666666,
 57.0,
 1.2007638666666665,
 27.0,
 1.2356249833333333,
 23.0,
 1.3186805333333333,
 38.0,
 1.9199305166666663,
 35.0,
 1.6053472125,
 40.0,
 0.6181249916666667,
 12.0,
 0.5771527708333333,
 11.0,
 0.6883333208333332,
 11.0,
 1.3553472125,
 60.0,
 1.42916665,
 17.0,
 1.4139583083333334,
 21.0,
 2.0988193833333333,
 1.9199305166666663,
 0.8027777708333333,
 73.0,
 66.0,
 21.0,
 1.0]

In [36]:
mx = np.zeros(20000)

In [37]:
def get_internet_type_id(sk_id, month):
    try:
        return subs_features[(subs_features['SK_ID'] == sk_id) & (subs_features['month'] == (month + 1))]['INTERNET_TYPE_ID'].iloc(0)[0]
    except:
        try:
            return subs_features[(subs_features['SK_ID'] == sk_id) & (subs_features['month'] == (month))]['INTERNET_TYPE_ID'].iloc(0)[0]
        except:
            return subs_features[(subs_features['SK_ID'] == sk_id)]['INTERNET_TYPE_ID'].iloc(0)[0]

In [38]:
def get_cells_data(cell_dict, mxs, list_sk_id, dates, is_data, count_days=7):
    table = []
    for i in zip(list_sk_id, dates):
        sk_id = i[0]
        sd = i[1]
        row = []
        table_columns = []
        pre_month = None
        for j in range(count_days):
            cd = sd - timedelta(j)
            if pre_month is None or pre_month != cd.month:
                internet_type_id = get_internet_type_id(sk_id, cd.month)
                pre_month = cd.month
            cells_g = [0, 0, 0, 0, 0, 0, internet_type_id]
            if is_data:
                len_params = 30 * 2
            else:
                len_params = 15 * 2
            result = np.zeros(len_params)

            if (sk_id, cd) in cell_dict:
                item = cell_dict[(sk_id, cd)]
                for key in item:
                    cell = (key, item[key])
                    if cell[0] in cells_2g:
                        cells_g[0] += cell[1]
                        cells_g[3] += 1
                    if cell[0] in cells_3g:
                        cells_g[1] += cell[1]
                        cells_g[4] += 1
                    if cell[0] in cells_4g:
                        cells_g[2] += cell[1]
                        cells_g[5] += 1
                    result = get_params(result, cell[0], cd.day + cd.month / 100, is_data, cell[1])
                
            news = list(result)
            news.extend(list(cells_g))
            
            for p in range(len(news)):
                #mx[p] = np.max([news[p], mx[p]])
                if mxs[p] != 0:
                    news[p] /= mxs[p]

            row.append(np.array(news))
        table.append(np.array(row))
    return table

In [39]:
#list(mx)

In [40]:
subs_bs_voice_session = pd.read_csv(pathfiles + path_subs_bs_voice_session, sep=';', decimal=',')

In [41]:
subs_bs_voice_session['day'] = subs_bs_voice_session['START_TIME'].apply(lambda x:datetime.strptime(x, '%d.%m %H:%M:%S').date())

In [42]:
subs_bs_voice_session.head(1)

   SK_ID  CELL_LAC_ID  VOICE_DUR_MIN      START_TIME         day
0    373       269094       0.001597  27.04 23:00:00  1900-04-27

In [43]:
user_voice_session = defaultdict()
for i in subs_bs_voice_session.values:
    sk_id = i[0]
    dt = i[4]
    cell_id = i[1]
    key = (sk_id, dt)
    user_voice_session.setdefault(key, defaultdict()).setdefault(cell_id, 0)
    user_voice_session[key][cell_id] += i[2]

In [44]:
subs_features = pd.read_csv(pathfiles + path_subs_features, sep=';', decimal=',')

In [45]:
subs_features.head(1)

,SNAP_DATE,COM_CAT#1,SK_ID,COM_CAT#2,COM_CAT#3,BASE_TYPE,ACT,ARPU_GROUP,COM_CAT#7,COM_CAT#8,...,COM_CAT#25,COM_CAT#26,COM_CAT#27,COM_CAT#28,COM_CAT#29,COM_CAT#30,COM_CAT#31,COM_CAT#32,COM_CAT#33,COM_CAT#34
0,01.08.01,4,3339,80,5,2,1,12.0,1,1489.0,...,1,1,0.031696,0.076724,0.040279,0.0133,0.083382,0.027579,0.103896,2.0

In [46]:
subs_features.describe()

,COM_CAT#1,SK_ID,COM_CAT#2,COM_CAT#3,BASE_TYPE,ACT,ARPU_GROUP,COM_CAT#7,COM_CAT#8,DEVICE_TYPE_ID,...,COM_CAT#25,COM_CAT#26,COM_CAT#27,COM_CAT#28,COM_CAT#29,COM_CAT#30,COM_CAT#31,COM_CAT#32,COM_CAT#33,COM_CAT#34
count,47411.000000,47411.000000,47411.000000,47411.000000,47411.000000,47411.000000,47390.000000,47411.000000,47287.000000,47300.000000,...,47411.000000,47411.000000,47411.000000,47411.000000,47411.000000,47411.000000,47411.000000,47411.000000,47411.000000,45808.000000
mean,4.538019,2346.231107,41.213642,5.267280,1.938706,0.990909,7.672800,2.378119,866.040793,4.619831,...,0.999852,0.988420,0.017048,0.018507,0.004788,0.005083,0.046062,0.028243,0.104881,5.536587
std,2.175724,1365.543733,22.381202,2.757143,0.239871,0.094912,3.179402,1.587738,516.196163,0.883446,...,0.012150,0.106985,0.025277,0.031138,0.017611,0.021956,0.051001,0.009148,0.007879,3.554345
min,1.000000,2.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,2.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,3.000000,1160.000000,25.000000,5.000000,2.000000,1.000000,5.000000,1.000000,388.000000,5.000000,...,1.000000,1.000000,0.002169,0.001073,0.000000,0.000000,0.011571,0.027579,0.103896,2.000000
50%,4.000000,2345.000000,38.000000,5.000000,2.000000,1.000000,8.000000,2.000000,924.000000,5.000000,...,1.000000,1.000000,0.008714,0.007226,0.000120,0.000000,0.031394,0.027579,0.103896,4.000000
75%,6.000000,3543.000000,60.000000,5.000000,2.000000,1.000000,10.000000,3.000000,1318.000000,5.000000,...,1.000000,1.000000,0.022257,0.022745,0.003028,0.000383,0.063415,0.027579,0.103896,9.000000
max,8.000000,4702.000000,83.000000,17.000000,2.000000,1.000000,12.000000,9.000000,1702.000000,8.000000,...,1.000000,1.000000,1.000000,0.645294,1.000000,1.000000,1.000000,0.560674,0.377696,10.000000

In [47]:
subs_features['SNAP_DATE'] = subs_features['SNAP_DATE'].apply(lambda x:datetime.strptime(x, '%d.%m.%y'))

In [48]:
subs_features['COM_CAT#24'].value_counts()

31.12    47404
23.05        1
06.05        1
28.05        1
29.05        1
27.05        1
30.05        1
24.05        1
Name: COM_CAT#24, dtype: int64

In [49]:
subs_features['COM_CAT#24'] = subs_features['COM_CAT#24'].apply(lambda x:int(x == '31.12'))

In [50]:
subs_features['COM_CAT#34'].fillna(subs_features['COM_CAT#34'].median(), inplace=True)
subs_features['COM_CAT#8'].fillna(subs_features['COM_CAT#8'].median(), inplace=True)
subs_features['DEVICE_TYPE_ID'].fillna(subs_features['DEVICE_TYPE_ID'].median(), inplace=True)
subs_features['ARPU_GROUP'].fillna(subs_features['ARPU_GROUP'].median(), inplace=True)
subs_features['INTERNET_TYPE_ID'].fillna(subs_features['INTERNET_TYPE_ID'].median(), inplace=True)

In [51]:
subs_features['month'] = subs_features['SNAP_DATE'].apply(lambda x:x.month)
subs_features['year'] = subs_features['SNAP_DATE'].apply(lambda x:x.year)

In [52]:
columns = ['COM_CAT#1', 'COM_CAT#2', 'COM_CAT#3', 'BASE_TYPE', 'ACT', 'ARPU_GROUP', 'COM_CAT#7', 'COM_CAT#8',
          'DEVICE_TYPE_ID', 'INTERNET_TYPE_ID', 'REVENUE', 'ITC', 'VAS', 'RENT_CHANNEL', 'ROAM',
          'COST']
for i in range(18):
    columns.append('COM_CAT#{}'.format(i+17))
if TRAIN:
    factors = {}
for c in columns:
    #emean =  np.mean(subs_features[c])
    if TRAIN:
        emin = np.min(subs_features[c])
    else:
        emin = factors[c][0]
    #subs_features[c] -= emean
    subs_features[c] -= emin
    if TRAIN:
        emax = np.max(subs_features[c])
    else:
        emax = factors[c][1]
    subs_features[c] /= emax
    if TRAIN:
        factors[c] = (emin, emax)

In [53]:
def get_subs_features(year, month, fix_month, day, sk_id):
    data = subs_features[(subs_features['year'] == year) & (subs_features['month'] == month) & (subs_features['SK_ID'] == sk_id)]
    columns = ['COM_CAT#1', 'COM_CAT#2', 'COM_CAT#3', 'BASE_TYPE', 'ACT', 'ARPU_GROUP', 'COM_CAT#7', 'COM_CAT#8',
              'DEVICE_TYPE_ID', 'INTERNET_TYPE_ID', 'REVENUE', 'ITC', 'VAS', 'RENT_CHANNEL', 'ROAM',
              'COST']
    for i in range(18):
        columns.append('COM_CAT#{}'.format(i+17))
    if data.shape[0] == 1:
        return columns, data[columns].values[0].tolist()
    else:
        return columns, list(np.zeros(len(columns)))

In [54]:
if False:
    # for dnn
    table = []
    if TRAIN:
        y = np.zeros(subs_csi.shape[0])
    for i in enumerate(subs_csi.values):
        sk_id = int(i[1][0])
        line = []
        if TRAIN:
            dt = str(i[1][2]).split('.')
        else:
            dt = str(i[1][1]).split('.')
        year = 2002
        month = int(dt[1])
        for j in range(12):
            new_line = get_subs_features(year, month, int(dt[1]), int(dt[0]), sk_id)
            line.extend(new_line[1])
            month -= 1
            if month == 0:
                month = 12
                year -= 1
        table.append(line)
        if TRAIN:
            y[i[0]] = i[1][1]

In [55]:
def extend_qos(sk_id, month):
    result = []
    key = (sk_id, month)
    if (key in subs_bs_consumption_data):
        item = subs_bs_consumption_data[key]
        for i in range(8):
            if data_mx[i] != 0:
                result.append(item[i] / data_mx[i])
            else:
                result.append(item[i])
    else:
        result.extend([0,0,0,0,0,0,0,0])
    if (key in subs_bs_consumption_minutes):
        item = subs_bs_consumption_minutes[key]
        for i in range(8):
            if min_mx[i] != 0:
                result.append(item[i] / min_mx[i])
            else:
                result.append(item[i])
    else:
        result.extend([0,0,0,0,0,0,0,0])
    if (key in subs_bs_consumption_voice):
        item = subs_bs_consumption_voice[key]
        for i in range(8):
            if voice_mx[i] != 0:
                result.append(item[i] / voice_mx[i])
            else:
                result.append(item[i])
    else:
        result.extend([0,0,0,0,0,0,0,0])

    #print(result)
    return result

In [56]:
# for cnn
table = []
if TRAIN:
    y = np.zeros(subs_csi.shape[0])
for i in enumerate(subs_csi.values):
    sk_id = int(i[1][0])
    #line = [sk_id]
    #table_columns = ['sk_id']
    if TRAIN:
        dt = str(i[1][2]).split('.')
    else:
        dt = str(i[1][1]).split('.')
    year = 2002
    month = int(dt[1])
    row = []
    for j in range(6):
        new_line = get_subs_features(year, month, int(dt[1]), int(dt[0]), sk_id)

        qos = list(extend_qos(sk_id, month))
        qos.extend(list(new_line[1]))
        row.append(np.array(qos))
        
        #table_columns.extend(new_line[0])
        month -= 1
        if month == 0:
            month = 12
            year -= 1
    table.append(np.array(row))
    if TRAIN:
        y[i[0]] = i[1][1]

In [57]:
data = np.array(table)

In [58]:
data.shape

(4222, 6, 58)

In [59]:
count_days = 21

In [60]:
table2 = get_cells_data(user_data_session, mx_data, list(subs_csi['SK_ID']), list(subs_csi['CONTACT_DATE'].apply(lambda x:datetime.strptime(x, '%d.%m').date())), True, count_days)

In [61]:
data2 = np.array(table2)

In [62]:
data2.shape

(4222, 21, 67)

In [63]:
data2.max()

1.0

In [64]:
table3 = get_cells_data(user_voice_session, mx_voice, list(subs_csi['SK_ID']), list(subs_csi['CONTACT_DATE'].apply(lambda x:datetime.strptime(x, '%d.%m').date())), False, count_days)

In [65]:
data3 = np.array(table3)

In [66]:
data3.max()

1.0

In [67]:
from sklearn import preprocessing

In [68]:
X = np.asarray(data)
X2 = np.asarray(data2)
X3 = np.asarray(data3)
y = np.asarray(y)

In [69]:
from sklearn.model_selection import train_test_split

In [70]:
X_train_1, X_test_1, X_train_2, X_test_2, X_train_3, X_test_3, y_train, y_test \
    = train_test_split(X, X2, X3, y, test_size=0.2, random_state=42)

In [71]:
from sklearn.utils.class_weight import compute_class_weight

In [72]:
from keras.models import Sequential, Model
from keras.layers import Dense, Dropout, Conv1D, MaxPooling1D, Flatten, Input, GlobalMaxPooling1D, GRU, Bidirectional, LSTM, concatenate
from keras.utils import np_utils
from keras.callbacks import EarlyStopping
from sklearn.model_selection import train_test_split

In [73]:
from sklearn.metrics import roc_auc_score
from keras import regularizers

In [74]:
from sklearn import metrics
from keras import backend as K
import tensorflow as tf
def auc(y_true, y_pred):
    auc = tf.metrics.auc(y_true, y_pred)[1]
    K.get_session().run(tf.local_variables_initializer())
    return auc

In [83]:
def create_dnn_model():
    #build Keras model
    
    dropout = 0.5
    regularizer = 0.001
    
    x1_input = Input(shape=X_train_1.shape[1:], dtype='float32')

    #x1_layer = Conv1D(128, 3, activation='relu')(x1_input)
    #x1_layer = MaxPooling1D(3)(x1_layer)
    #x1_layer = Conv1D(128, 3, activation='relu')(x1_layer)
    #x1_layer = GlobalMaxPooling1D()(x1_layer)
    x1_layer = GRU(64, dropout=dropout, recurrent_dropout=dropout, return_sequences=True, activation='relu', kernel_regularizer=regularizers.l2(regularizer))(x1_input)
    x1_layer = GRU(64, dropout=dropout, recurrent_dropout=dropout, activation='relu', kernel_regularizer=regularizers.l2(regularizer))(x1_layer)
    
    
    x2_input = Input(shape=X_train_2.shape[1:], dtype='float32')
    
    #x2_layer = LSTM(64, dropout=0.2, recurrent_dropout=0.2, return_sequences=True, activation='relu', kernel_regularizer=regularizers.l2(regularizer))(x2_input)
    #x2_layer = GRU(16, dropout=0.2, recurrent_dropout=0.2, return_sequences=True, activation='relu', kernel_regularizer=regularizers.l2(regularizer))(x2_layer)
    #x2_layer = GRU(16, dropout=0.2, recurrent_dropout=0.2, return_sequences=True, activation='relu', kernel_regularizer=regularizers.l2(regularizer))(x2_layer)
    #x2_layer = LSTM(64, dropout=0.2, recurrent_dropout=0.2, activation='relu', kernel_regularizer=regularizers.l2(regularizer))(x2_layer)
    
    x2_layer = Conv1D(128, 3, activation='relu')(x2_input)
    x2_layer = MaxPooling1D(3)(x2_layer)
    x2_layer = Conv1D(128, 3, activation='relu')(x2_layer)
    #x2_layer = GlobalMaxPooling1D()(x2_layer)
    x2_layer = GRU(128, dropout=dropout, recurrent_dropout=dropout, return_sequences=True, activation='relu', kernel_regularizer=regularizers.l2(regularizer))(x2_layer)
    #x2_layer = GRU(128, dropout=dropout, recurrent_dropout=dropout, return_sequences=True, activation='relu', kernel_regularizer=regularizers.l2(regularizer))(x2_layer)
    x2_layer = GRU(128, dropout=dropout, recurrent_dropout=dropout, activation='relu', kernel_regularizer=regularizers.l2(regularizer))(x2_layer)
      
        
    x3_input = Input(shape=X_train_3.shape[1:], dtype='float32')
    
    #x3_layer = LSTM(64, dropout=0.2, recurrent_dropout=0.2, return_sequences=True, activation='relu', kernel_regularizer=regularizers.l2(regularizer))(x3_input)
    #x3_layer = GRU(16, dropout=0.2, recurrent_dropout=0.2, return_sequences=True, activation='relu', kernel_regularizer=regularizers.l2(regularizer))(x3_layer)
    #x3_layer = GRU(16, dropout=0.2, recurrent_dropout=0.2, return_sequences=True, activation='relu', kernel_regularizer=regularizers.l2(regularizer))(x3_layer)
    #x3_layer = LSTM(64, dropout=0.2, recurrent_dropout=0.2, activation='relu', kernel_regularizer=regularizers.l2(regularizer))(x3_layer)
    
    x3_layer = Conv1D(128, 3, activation='relu')(x3_input)
    x3_layer = MaxPooling1D(3)(x3_layer)
    x3_layer = Conv1D(128, 3, activation='relu')(x3_layer)
    #x3_layer = GlobalMaxPooling1D()(x3_layer)
    x3_layer = GRU(128, dropout=dropout, recurrent_dropout=dropout, return_sequences=True, activation='relu', kernel_regularizer=regularizers.l2(regularizer))(x3_layer)
    #x3_layer = GRU(128, dropout=dropout, recurrent_dropout=dropout, return_sequences=True, activation='relu', kernel_regularizer=regularizers.l2(regularizer))(x3_layer)
    x3_layer = GRU(128, dropout=dropout, recurrent_dropout=dropout, activation='relu', kernel_regularizer=regularizers.l2(regularizer))(x3_layer)
    
    concatenated = concatenate([x1_layer, x2_layer, x3_layer], axis=-1)
    
    for i in range(4):
        concatenated = Dropout(0.4)(concatenated)
        concatenated = Dense(200, activation="relu", kernel_initializer="uniform", kernel_regularizer=regularizers.l2(0.003))(concatenated)
    
    preds = Dense(1, activation="sigmoid", kernel_initializer="uniform")(concatenated)

    model = Model([x1_input, x2_input, x3_input], preds)
    model.compile(loss='binary_crossentropy', metrics=[auc], optimizer='adam')
    return model

In [ ]:
count_epochs = 300
model = create_dnn_model()
early_stopping_monitor = EarlyStopping(patience=30)
#class_weights = compute_class_weight('balanced', np.unique(y), y)
#history = model.fit([np.array(X), np.array(X2), np.array(X3)], np.array(y), batch_size = 64, epochs = count_epochs, verbose=1, validation_split=0.2, class_weight=class_weights, callbacks=[plot,early_stopping_monitor])
class_weights = compute_class_weight('balanced', np.unique(y_train), y_train)
history = model.fit([np.array(X_train_1), np.array(X_train_2), np.array(X_train_3)], np.array(y_train), batch_size = 128, epochs = count_epochs, verbose=1, validation_split=0.2, class_weight=class_weights, callbacks=[plot,early_stopping_monitor])

In [77]:
send_notify('Complete fit')

In [ ]:
history_gr = history.history['val_loss']
epochs = range(1, len(history_gr) + 1)
import matplotlib.pyplot as plt

plt.plot(epochs, history_gr, 'b+', label='Original model')
plt.xlabel('Epochs')
plt.ylabel('Validation loss')
plt.legend()

plt.show()

In [82]:
predict = model.predict([np.array(X_test_1), np.array(X_test_2), np.array(X_test_3)])
score = roc_auc_score(y_test, predict)
print("Total roc auc score = {0:0.4f}".format(score))

Total roc auc score = 0.5530

In [60]:
model_json = model.to_json()
# Записываем модель в файл
json_file = open("sale_model.json", "w")
json_file.write(model_json)
json_file.close()
model.save_weights("sale_model.h5")

In [249]:
def save_predict(predict):
    with open('output/last.csv', 'w') as f:
        for item in predict:
            f.write("%s\n" % item[0])

In [250]:
save_predict(model.predict([np.array(X), np.array(X2), np.array(X3)]))